<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script src="../layout/js/trim.js"></script>
<script src="../layout/js/verificaData.js"></script>
<script src="../layout/js/isNumber.js"></script>
<script src="../layout/js/filtriRicerca.js"></script>
<script>
function conferma()
{
  ricerca.action="../view/analisiTerminatePOP.jsp";
  ricerca.submit();
}
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>

<body text="#000000" onload="window.focus();" onunload="window.opener.focus()">
<form name="ricerca" method="post" action="../controller/analisiTerminatePOP.jsp">
  <table width="500" border="0" class="boxborder">
    <tr>
      <td>
        <div align="center">
          <h2>Imposta filtri di ricerca campione <br>
          </h2>
          <table width="100%" border="0" align="center" cellspacing="3">
            <tr>
              <td colspan="3">Impostando delle chiavi e premendo &quot;ricerca&quot;
                verr&agrave; presentato l'elenco dei campioni che rientrano nella
                selezione. </td>
            </tr>
            <tr>
              <td  width="34%"><b>Tipo di materiale/Matrice</b></td>
              <td colspan="2">
                <select name="tipoMateriale">
                  <option value="">----------------------</option>
                  @@tipoMateriale
                    <option value="$$codiceMateriale" $$selected>$$descrizione</option>
                  @@tipoMateriale
                </select> </td>
            </tr>
            <tr>
              <td  width="34%"><b>Anno</b></td>
              <td colspan="2"><input type="text" name="annoCampione" size="4" maxlength="4" value="##annoCampione">
              </td>
            </tr>
            <tr>
              <td  width="34%"><b>Numero campione</b></td>
              <td colspan="2">
              <strong>da </strong>
                <input type="text" name="numeroCampioneDa" size="6" maxlength="6" value="##numeroCampioneDa"> <strong>a</strong>
                <input type="text" name="numeroCampioneA" size="6" maxlength="6" value="##numeroCampioneA">
              </td>
            </tr>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr>
              <td  width="34%"><b>Numero della richiesta</b></td>
              <td colspan="2"><strong>da</strong> <input type="text" name="idRichiestaDa" size="9" maxlength="9" value="##idRichiestaDa">
                <strong>a</strong> <input type="text" name="idRichiestaA" size="9" maxlength="9" value="##idRichiestaA">
              </td>
            </tr>
            <tr>
              <td width="34%" rowspan="2"><b>Data di richiesta analisi</b></td>
              <td><strong>successiva&nbsp;al</strong></td>
              <td><input type="hidden" name="dataDa" value="">
              <input type="text" name="dataDaGiorno" value="##dataDaGiorno" size="2" maxlength="2">
                /
                <input type="text" name="dataDaMese" size="2" maxlength="2" value="##dataDaMese">
                /
                <input type="text" name="dataDaAnno" size="4" maxlength="4" value="##dataDaAnno"> </td>
            </tr>
            <tr>
              <td><strong>precedente&nbsp;al</strong></td>
              <td><input type="hidden" name="dataA" value="">
              <input type="text" name="dataAGiorno" size="2" maxlength="2" value="##dataAGiorno">
                /
                <input type="text" name="dataAMese" size="2" maxlength="2" value="##dataAMese">
                /
                <input type="text" name="dataAAnno" size="4" maxlength="4" value="##dataAAnno"> </td>
            </tr>
            <tr>
              <td colspan="3" bgcolor="#F2F1EA"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
            </tr>
            <tr>
              <td  rowspan="2"><b>Anagrafica del Proprietario<br>
                </b><span class="testoTabellelunghe">(ricerca per chiave parziale:
                digitare almeno 2 caratteri del Cognome o Ragione Sociale)</span></td>
              <td><div align="right">Cognome o Ragione sociale </div></td>
              <td> <input type="text" name="cognomeProprietario" size="60" maxlength="60" value="##cognomeProprietario">
              </td>
            </tr>
            <tr>
              <td><div align="right">Nome</div></td>
              <td> <input type="text" name="nomeProprietario" size="40" maxlength="40" value="##nomeProprietario">
              </td>
            </tr>
            <tr>
              <td  rowspan="2"><b>Anagrafica del Tecnico<br>
                </b><span class="testoTabellelunghe">(ricerca per chiave parziale:
                digitare almeno 2 caratteri del cognome)</span></td>
              <td><div align="right">Cognome </div></td>
              <td> <input type="text" name="cognomeTecnico" size="60" maxlength="60" value="##cognomeTecnico">
              </td>
            </tr>
            <tr>
              <td><div align="right">Nome</div></td>
              <td> <input type="text" name="nomeTecnico" size="40" maxlength="40" value="##nomeTecnico">
              </td>
            </tr>
            <tr>
              <td colspan="3" bgcolor="#F2F1EA"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
            </tr>
            <tr>
              <td><b>Tipo organizzazione </b></td>
              <td colspan="2">
               <select name="tipoOrganizzazione" onChange="conferma();">
                  <option value="-1" selected>----------</option>
                    @@tipoOrganizzazione
                      <option value="$$cod" $$selected>$$desc</option>
                    @@tipoOrganizzazione
                </select> </td>
            </tr>
            <tr>
              <td><b>Organizzazione</b></td>
              <td colspan="2">
                <select name="organizzazione">
                  <option value="-1" selected>----------</option>
                    @@organizzazione
                      <option value="$$cod" $$selected>$$desc</option>
                    @@organizzazione
                </select> </td>
            </tr>
            <tr>
              <td><b>Etichetta<br>
                </b><span class="testoTabellelunghe">(ricerca per chiave parziale:
                digitare almeno 4 caratteri)</span></td>
              <td colspan="2"> <input type="text" name="etichetta" size="40" maxlength="40" value="##etichetta">
              </td>
            </tr>
            <tr>
              <td><b>Laboratorio di analisi </b></td>
              <td colspan="2">
               <select name="labAnalisi" >
                    <option value="">--------</option>
                        @@laboratorio
                          <option value="$$codice" $$selected>$$descrizione</option>
                        @@laboratorio
                 </select> </td>
            </tr>
            <tr>
              <td><b>Visualizza solo i campioni scartati/sospesi</b></td>
              <td colspan="2"> <input type="radio" name="tutti" value="N" ##scartatiEmessi>
                Si
                <input type="radio" name="tutti" value="T" ##tutti>
                Tutti </td>
            </tr>
            <tr>
              <td><b>Stato pagamento analisi </b></td>
              <td colspan="2">
                <select name="statoPagamento">
                  <option value="">------------</option>
                  <option value="S" ##selectedPagata>pagata</option>
                  <option value="N" ##selectedDaPagare>da pagare</option>
                  <option value="G" ##selectedGratuita>gratuita</option>
                </select> </td>
            </tr>
          </table>
          <br>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
            <tr>
              <td align="right"><div align="right"><a href="javascript:if (ricercaElenco(ricerca)) ricerca.submit();"><img src="../layout/im/b_conferma.gif" alt="conferma" width="150" height="16" border="0"></a></div></td>
              <td align="right"><div align="left"><a href="javascript:window.close();"><img src="../layout/im/b_annulla.gif" alt="annulla" width="150" height="16" border="0"></a></div></td>
            </tr>
          </table>
          <br>
        </div>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
