<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/trim.js"></script>
<script src="../layout/js/testLength.js"></script>
<script language="javascript1.2" src="../layout/js/annullaRichiesta.js"></script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top">
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif">
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td>
                                            <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <table width="124" height="142" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr>
                                          <td><table width="100%" height="169" border="0" cellpadding="4" cellspacing="1" background="../layout/im/tit_sx_campioni_on3.gif">
                                              <tr>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerdeON"><strong><a href="../controller/ricercaCampioni.jsp" class="testoTabellelungheVerdeON">Ricerca
                                                  campione</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><strong><a href="../controller/analisiRichieste.jsp" class="testoTabellelungheVerdeON">Analisi
                                                  richieste</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFE193"><strong><a href="../controller/campioniLaboratorio.jsp" class="testoTabellelungheVerdeON">Campioni
                                                  in laboratorio</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/analisiTerminate.jsp" class="testoTabellelungheVerdeON">Referti
                                                  da emettere</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><span class="testoTabellelungheVerde"><strong><a href="../controller/refertiEmessi.jsp" class="testoTabellelungheVerdeON">Referti
                                                  emessi</a></strong></span> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      <a href="javascript:pop2('anagraficaUtentePOP.jsp');"><br>
                                      </a><a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <a href="homeFrontOffice.jsp"><br>
                                      </a> <a href="../view/menuTabelle.jsp"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="dati di sistema" width="124" height="29" border="0"></a><br>
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a> -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"><br>
                                      <br>
                                      </a> </div>



                                  </td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA">
                                    <h1>Campioni - laboratorio</h1>
                                    <h2> Annullamento della richiesta di analisi</h2>
                                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr align="center" valign="top">
                                        <td width="20%" class="pul"><a href="#" onClick="pop('../report/anagraficaCampione##codiceMateriale.pdf?idRichiesta=##idRichiestaSearch',647,480,'pdf');" class="pul_pag">Scheda di accompagnamento</a></td>
                                        <td width="20%" class="pul"><a href="../controller/analisiRichiesteExcel.jsp" class="pul">Elenco analisi richieste</a></td>
                                        <td width="20%" class="pul"><a href="../controller/smistaCampioniLaboratorio.jsp?idRichiestaSearch=##idRichiestaSearch" class="pul_pag">Inserisci esito analisi</a></td>
                                        <td width="20%" class="pulselect">Annulla richiesta</td>
                                        <td width="20%" class="pul"><a href="../view/esistoTerminato.jsp" class="pul_pag">Conferma analisi</a></td>
                                      </tr>
                                    </table>
                                    <br>
                                    @@campione
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td>Con questa funzione &egrave possibile annullare una richiesta di analisi. </td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td colspan="8"> <div align="center"><strong>Dati identificativi del campione </strong></div></td>
                                      </tr>
                                    </table>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="2" bgcolor="#FFFFFF" class="testoTabellelunghe">
                                      <tr class="testoTabellelunghe"> 
                                        <td width="25%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><strong>Numero richiesta</strong></td>
                                        <td width="25%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><strong>Stato richiesta</strong></td>
                                        <td width="25%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><strong>Materiale/Matrice </strong> </td>
                                        <td width="25%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><strong>Etichetta</strong></td>
                                      </tr>
                                      <tr> 
                                        <td colspan="4" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                      <tr valign="top"> 
                                        <td class="testoTabellelunghe">$$idRichiesta</td>
                                        <td class="testoTabellelunghe">$$statoRichiesta</td>
                                        <td class="testoTabellelunghe">$$descMateriale</td>
                                        <td class="testoTabellelunghe">$$descrizioneEtichetta</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                    </table>
                                    <br>                                  
                                    <form name="annullaRichiestaCamp"  method="post" action="../controller/annullaRichiestaCamp.jsp">
                                      <table width="98%" border="0" align="center">
                                        <tr>
                                          <td colspan="8">
                                          	<div align="center"><strong>Motivo annullamento richiesta</strong>
                                              <div class="testoTabellelunghe">(visibile nella tracciatura del campione)</div>
                                            </div>
                                            <br/>                                        
                                          </td>
                                        </tr>
                                        <tr>
                                          <td rowspan="4" valign="top">Motivazione (*)</td>
                                          <td colspan="7" rowspan="4">
                                          	<textarea name="note" rows="5" cols="80" class="testoCampi" onKeyPress="return testLength(note,512,'false');" onBlur="testLength(note,512,'true');">$$note</textarea>
                                          </td>
                                        </tr>
                                      </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                    </table>
                                    <br>                                      
                                    </form>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td><div align="center"><a href="javascript:if (salva(annullaRichiestaCamp)) annullaRichiestaCamp.submit();"><img src="../layout/im/b_conferma.gif" alt="conferma" width="150" border="0" height="16"></a></div></td>
                                      </tr>
                                    </table>
                                    @@campione
                                    <p>&nbsp;</p></td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>

                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>