<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script src="../layout/js/eleaborazioneCentro.js"></script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="SistemaPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top">
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif">
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td> <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <a href="../view/menuCampioni.jsp"><img src="../layout/im/tit_sx_campioni_off.gif" alt="campioni" width="124" height="29" border="0"></a>
                                      <br>
                                      <br>
                                       <a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br>
                                      <br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br>
                                      
                                      <table width="124" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr>
                                          <td>
                                          <table width="100%" border="0" cellpadding="4" cellspacing="1" background="../layout/im/dati.gif"">
                                              <tr>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerdeON"><strong><a href="../controller/calcoloCentroide.jsp" class="testoTabellelungheVerdeON">
                                                Calcolo centroide particelle</a></strong></td>
                                              </tr>
                                              
                                            </table></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a> -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"><br>
                                      <br>
                                      </a> </div></td>
                                      
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA">
                                    <h1> Elaborazione massiva del calcolo del centroide </h1>
                                    <br>
                                     <form name="elaborazione" method="post" action="../controller/calcoloCentroide.jsp">
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      @@errore
                                      <tr>
                                        <td colspan="4" class="testoERRORE">
                                           Operazione non permessa. Il codice di verifica indicato non è corretto
                                           <br>
                                          <br>
                                        </td>
                                      </tr>
                                      @@errore
                                      @@erroreElabInCorso
                                      <tr>
                                        <td colspan="4" class="testoERRORE">
                                           Operazione non permessa. E' in corso un'altra elaborazione di calcolo del centroide. Si prega di riprovare più tardi
                                           <br>
                                          <br>
                                        </td>
                                      </tr>
                                      @@erroreElabInCorso
                                      <tr>
                                        <td>
                                        codice verifica elaborazione
                                        </td>
                                        <td>
                                        <input name="codiceVerificaElab" type="text" value="##codiceVerificaElab" class="testoCampi" size="20" maxlength="20">
                                        </td>
                                      </tr>
                                       @@avviso
                                      <tr>
                                        <td colspan="4" class="testoOK">
                                           L'elaborazione di calcolo delle coordinate del centroide delle particelle è stata avviata. <br> 
                                           Al termine dell'esecuzione verrà inviata un'email di notifica 
                                           <br>
                                          <br>
                                        </td>
                                      </tr>
                                      @@avviso
                                      <tr>
                                      <td>
                                      &nbsp;
                                      </td>
                                      </tr>
                                      
                                    </table>
                                    <table width="98%" border="0" cellspacing="5" cellpadding="0">
                                      <tr>
                                        <td>
                                            <div align="center"><a href="javascript:if (elaborazioneCentroVerifiche(elaborazione)) elaborazione.submit();"><img src="../layout/im/b_conferma.gif" width="150" height="16" border="0"></a></div> 
                                        </td>
                                      </tr>
                                    </table>
                                    </form>
                                    <h1>&nbsp;</h1>
                                    </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
