<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script language="JavaScript">
<!--
function pop(str) {
        searchWin = window.open(str,'comune','scrollbars=yes,resizable=yes,width=600,height=530,status=no,location=no,toolbar=no');
}
function pop2(str) {
        searchWin = window.open(str,'anagrafica','scrollbars=yes,resizable=yes,width=700,height=500,status=no,location=no,toolbar=no');
}

//-->
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle"> 
    <td> 
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr> 
          <td> 
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>
              
              <tr valign="top" align="right"> 
                <td width="640"> 
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84"> 
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14"> 
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp; 
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top"> 
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr> 
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2"> 
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif"> 
                            <td background="../layout/im/pix-gri-ban.gif"> 
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif"> 
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr> 
                                          <td> <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <a href="../view/menuCampioni.jsp"><img src="../layout/im/tit_sx_campioni_off.gif" alt="campioni" width="124" height="29" border="0"></a> 
                                      <br>
                                      <a href="javascript:pop2('anagraficaUtentePOP.htm');"> 
                                      </a><br>
                                       <a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br>
                                      <a href="javascript:pop2('anagraficaUtentePOP.htm');"><br>
                                      </a> 
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <table width="124" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr> 
                                          <td><table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#DE8636">
                                              <tr> 
                                                <td background="../layout/im/dati.gif">&nbsp;</td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFE193"><span class="testoTabellelungheVerdeON"><strong>Cancella 
                                                  richieste in bozza</strong></span> 
                                                </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><strong><a href="../view/tariffe.jsp" class="testoTabellelungheVerdeON">Tariffe</a> 
                                                  </strong></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/tipoOrganizzazione.jsp" class="testoTabellelungheVerdeON"><strong>Tipo 
                                                  organizzazione</strong></a></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/classeColtura.jsp" class="testoTabellelungheVerdeON"><strong>Classe 
                                                  coltura</strong></a></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/specieColtura.jsp" class="testoTabellelungheVerdeON"><strong>Specie 
                                                  coltura</strong></a></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/laboratori.jsp" class="testoTabellelungheVerdeON"><strong>Laboratori</strong></a></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/concime.jsp" class="testoTabellelungheVerdeON"><strong>Concime</strong></a></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/irrigazione.jsp" class="testoTabellelungheVerdeON"><strong>Irrigazione</strong></a></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/superficie.jsp" class="testoTabellelungheVerdeON"><strong>Superficie</strong></a></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/terreno.jsp" class="testoTabellelungheVerdeON"><strong>Lavorazione 
                                                  terreno</strong></a> </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/profondita.jsp" class="testoTabellelungheVerdeON"><strong>Profondit&agrave; 
                                                  prelievo</strong></a> </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><a href="../view/stadioFenologico.jsp" class="testoTabellelungheVerdeON"><strong>Stadio 
                                                  fenologico</strong></a> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a>  -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"><br>
                                      <br>
                                      </a> </div></td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA"> 
                                    <h1> Cancellazione delle richieste in bozza 
                                      <br>
                                    </h1>
                                    <table width="98%" border="0" align="center">
                                      <tr> 
                                        <td colspan="2"><div align="center"><strong><br>
                                            Elenco delle richieste di analisi 
                                            in stato bozza </strong></div></td>
                                      </tr>
                                      <tr> 
                                        <td width="52%">Richieste in bozza inserite in data 
                                          anteriore al <br>
                                          (gg/mm/aaaa)</td>
                                        <td width="48%" valign="top"> 
                                          <input name="textfield3" type="text" class="testoCampi" size="2" maxlength="2">
                                          / 
                                          <input name="textfield4" type="text" class="testoCampi" size="2" maxlength="2">
                                          / 
                                          <input name="textfield5" type="text" class="testoCampi" size="4" maxlength="4"> 
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td>Tipo di materiale/Matrice</td>
                                        <td> <select name="select" class="testoCampi">
                                            <option>-----------------</option>
                                            <option>Terreni</option>
                                            <option>Vegetali - Foglie (Fruttiferi 
                                            e Vite)</option>
                                            <option>Vegetali - Frutta</option>
                                            <option>Vegetali - Foglie (Erbacee)</option>
                                          </select> </td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr> 
                                        <td><div align="center"><a href="#"><img src="../layout/im/b_ricerca.gif" alt="ricerca" width="150" height="16" border="0"></a></div></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="1" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                      <tr> 
                                        <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="2" bgcolor="#FFFFFF" class="testoTabellelunghe">
                                            <tr> 
                                              <td width="4%" bgcolor="#F2F1EA"><b></b></td>
                                              <td width="8%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>N.<br>
                                                rich.</b></td>
                                              <td width="13%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Data 
                                                di inserimento rich.</b></td>
                                              <td width="13%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"> 
                                                <b>Materiale/<br>
                                                Matrice</b><b></b></td>
                                              <td width="27%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Descrizione<br>
                                                etichetta</b></td>
                                              <td width="23%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b><b>Proprietario</b></b></td>
                                              <td width="12%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b><b>Richiedente</b></b></td>
                                            </tr>
                                            <tr> 
                                              <td colspan="7" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                            <tr valign="top"> 
                                              <td> <input type="checkbox" name="checkbox4" value="checkbox"> 
                                              </td>
                                              <td class="testoTabellelunghe">10</td>
                                              <td class="testoTabellelunghe">Terreno</td>
                                              <td class="testoTabellelunghe">2002/8</td>
                                              <td class="testoTabellelunghe">VIGNA 
                                                NUOVA CABERNET</td>
                                              <td class="testoTabellelunghe">Rossi<br>
                                                Giovanni</td>
                                              <td class="testoTabellelunghe">Franco<br>
                                                Verdi</td>
                                            </tr>
                                            <tr valign="top"> 
                                              <td> <input type="checkbox" name="checkbox5" value="checkbox"> 
                                              </td>
                                              <td class="testoTabellelunghe">25</td>
                                              <td class="testoTabellelunghe">Foglie</td>
                                              <td class="testoTabellelunghe">2002/21</td>
                                              <td class="testoTabellelunghe">VENTIDUE 
                                                5</td>
                                              <td class="testoTabellelunghe">Cantine<br>
                                                di Alba</td>
                                              <td class="testoTabellelunghe">Franco<br>
                                                Verdi</td>
                                            </tr>
                                            <tr valign="top"> 
                                              <td> <input type="checkbox" name="checkbox6" value="checkbox"> 
                                              </td>
                                              <td class="testoTabellelunghe">87</td>
                                              <td class="testoTabellelunghe">Polpa 
                                                di frutta</td>
                                              <td class="testoTabellelunghe">2002/55</td>
                                              <td class="testoTabellelunghe">VALLETTA</td>
                                              <td class="testoTabellelunghe">Soc. 
                                                Coop<br>
                                                Valle Fiorita</td>
                                              <td class="testoTabellelunghe">Mario<br>
                                                Bianchi</td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr> 
                                        <td width="25%" class="pulsante"><a href="#" class="pulsante">Pagina 
                                          indietro</a></td>
                                        <td width="25%"> 
                                          <div align="center"><a href="#" class="pulsante">seleziona 
                                            tutti </a></div></td>
                                        <td width="25%"><a href="#" class="pulsante">Cancella 
                                          richieste</a></td>
                                        <td width="25%">
<div align="right"><a href="#" class="pulsante">Pagina avanti</a></div></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <h1>&nbsp;</h1>
                                    </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>

                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333"> 
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span> 
</body>
</html>
