<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/mail.js"></script>
<script src="../layout/js/trim.js"></script>
<script src="../layout/js/testLength.js"></script>
<script src="../layout/js/isNumber.js"></script>
<script src="../layout/js/datiAnagrafiche.js"></script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top">
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif">
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td>
                                            <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <table width="124" height="142" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr>
                                          <td><table width="100%" height="169" border="0" cellpadding="4" cellspacing="1" background="../layout/im/tit_sx_campioni_on3.gif">
                                              <tr>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr bgcolor="#FFFFFF">
                                                <td bgcolor="#FFFFFF"><strong><span class="testoTabellelungheVerde"><a href="../controller/ricercaCampioni.jsp" class="testoTabellelungheVerdeON">Ricerca
                                                  campione</a></span></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFE193" class="testoTabellelungheVerdeON"><strong><a href="../controller/analisiRichieste.jsp" class="testoTabellelungheVerdeON">Analisi
                                                  richieste</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/campioniLaboratorio.jsp" class="testoTabellelungheVerdeON">Campioni
                                                  in laboratorio</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/analisiTerminate.jsp" class="testoTabellelungheVerdeON">Referti
                                                  da emettere</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><span class="testoTabellelungheVerde"><strong><a href="../controller/refertiEmessi.jsp" class="testoTabellelungheVerdeON">Referti
                                                  emessi</a></strong></span> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      <a href="../controller/ricercaCampioni.jsp"> </a> <a href="javascript:pop2('anagraficaUtentePOP.htm');"><br>
                                      </a><a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <a href="homeFrontOffice.htm"><br>
                                      </a> <a href="../view/menuTabelle.jsp"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="dati di sistema" width="124" height="29" border="0"></a><br>
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a> -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                    </div>



                                  </td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA">
                                    <h1>Campioni - analisi richieste</h1>
                                    <h2> Modifica dati del campione </h2>
                                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr align="center" valign="top">
                                        <td width="20%" class="pul">
                                        <a href="#" onClick="pop('../report/anagraficaCampione##codiceMateriale.pdf?idRichiesta=##idRichiesta',647,480,'pdf');" class="pul_pag">Scheda di accompagnamento</a></td>
                                        <td width="18%" class="pulselect">Modifica dati del campione</td>
                                        <td width="15%" class="pul"><a href="../view/annullaRichiesta.jsp" class="pul_pag">Annulla richiesta</a></td>
                                        <td width="15%" class="pul"><a href="../view/accettazioneScarto.jsp" class="pul_pag">Accettazione Scarto</a></td>
                                        <td width="15%" class="pul"><a class="pul_pag" href="#" onclick="controlli(aggiorna,'scarica','/jsp/controller/verificaPagamento.jsp')">Verifica il Pagamento</a></td>
                                        <td width="20%" class="pul"><a class="pul_pag" href="#" onclick="controlli(null,'scarica','');" style="cursor:hand">Scarica la ricevuta</a></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                      <td width="144" align="bottom">&nbsp;</td>
                                      <td width="159" align="bottom"><a class="inseriti" 
                                            @@SiGis 
                                                href="../view/coordinatePrelievo.jsp" alt="coordinate prelievo" 
                                            @@SiGis 
                                            @@NoGis 
                                                href="javascript:alert('Questo tipo di materiale non richiede l\'inserimento delle cordinate del prelievo');"
                                            @@NoGis>coordinate<br>prelievo</td>
                                      <td width="163" align="bottom"><a class="inseriti" 
                                            @@SiGis 
                                                href="../controller/dati.jsp" 
                                            @@SiGis    
                                            @@NoGis
                                                href="javascript:alert('Funzione non disponibile per le matrici diverse dai terreni')"
                                            @@NoGis>caratteristiche<br>campione</a></td>
                                      </tr>
                                    </table>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><div align="center"><img src="../layout/im/tit_utente_on.gif" alt="modifica dati del campione - menu di navigazione" width="466" height="22" border="0"></div></td>
                                      </tr>
                                    </table>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                      <td width="65" align="top">&nbsp;</td>
                                      <td width="159" align="top"><a class="inseriti" href="../view/identificazioneCampione.jsp">identificativi<br>campione</a></td>
                                      <td width="166" align="top"><a class="fuoco">utente e<br>proprietario</a></td>
                                      <td width="76" align="top"><a class="disabilitato" href="">analisi<br>richiesta</a></td><!-- ../controller/analisi.jsp -->
                                      </tr>
                                    </table>
                                    <br>
                                    <table border="0" align="center" width="98%">
                                    @@errore
                                      <tr>
                                        <td colspan="8" class="testoERRORE">I dati contrassegnati da &nbsp;<img src="../layout/im/ko.gif">&nbsp;
                                        non sono stati inseriti correttamente
                                          <br>
                                          <br>
                                        </td>
                                      </tr>
                                      @@errore
                                      @@modifica
                                      <tr>
                                        <td colspan="8" class="testoOK">Modifica effettuata correttamente
                                          <br>
                                          <br>
                                        </td>
                                      </tr>
                                      @@modifica
                                     @@AnagraficaUtente
                                      <tr>
                                        <td colspan="8"> <div align="center">
                                            <b>Dati anagrafici dell'utente che
                                            ha richiesto l'analisi</b> </div></td>
                                      </tr>
                                      <tr>
                                        <td width="19%" >Codice Fiscale</td>
                                        <td colspan="7"> <input name="textfield2222" value="$$codiceFiscale" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="25" maxlength="16">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="19%" >Cognome</td>
                                        <td colspan="2" class="testoTabellelungheArancio">
                                          <input name="textfield2223" type="text" disabled value="$$cognome" class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="50" maxlength="40">
                                          <div align="left"></div></td>
                                        <td width="28%" colspan="3">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td >Nome</td>
                                        <td colspan="5"><input name="textfield22232" value="$$nome" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="50" maxlength="40"></td>
                                      </tr>
                                      <tr>
                                        <td width="19%" >Tipo utente </td>
                                        <td colspan="4"> <input type="radio" name="utente" value="radiobutton" $$tecnico disabled>
                                          Tecnico
                                          <input type="radio" name="utente" value="radiobutton" $$privato disabled>
                                          Privato
                                          <input type="radio" name="utente" value="radiobutton" $$lar disabled>
                                          LAR </td>
                                      </tr>
                                      <tr>
                                        <td width="19%" >Telefono</td>
                                        <td colspan="2"> <input name="textfield222332" value="$$telefono" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="25" maxlength="20">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td >Fax</td>
                                        <td colspan="2"><input name="textfield2223322" value="$$fax" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="25" maxlength="20"></td>
                                     </tr>
                                      <tr>
                                        <td width="19%" >Cellulare</td>
                                        <td colspan="2"> <input name="textfield2223323" value="$$cellulare" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="25" maxlength="20">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td colspan="-1" >e.mail</td>
                                        <td colspan="5"><input name="textfield2223324" value="$$eMail"  type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="40" maxlength="30"></td>
                                      </tr>
                                      <!--@@blkPresenteAnagrafeRichiedentePrivato-->
	                                      <tr>
	                                        <td width="19%">Anagrafica presente in Anagrafe Unica (SIAP)</td>
	                                        <td colspan="2">
	                                        	<input type="checkbox" name="chkPresenteAnagrafe" value="checkbox" $$checkedPresenteAnagrafe disabled>
	                                        </td>
	                                      </tr>
                                      <!--@@blkPresenteAnagrafeRichiedentePrivato-->                            
                                    @@AnagraficaUtente
                                    </table> <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                     <tr>
                                        <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                    </table>
                                    <br>
                                    @@AnagraficaTecnico
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td colspan="7"> <div align="center"><strong>Dati
                                            anagrafici del tecnico </strong> </div></td>
                                      </tr>
                                      <tr>
                                        <td width="18%" >Cognome</td>
                                        <td width="82%" colspan="6" ><input name="textfield22233242" value="$$cognome" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="40" maxlength="40"></td>
                                      </tr>
                                      <tr>
                                        <td >Nome</td>
                                        <td colspan="6" ><input name="textfield222332422" value="$$nome" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="40" maxlength="40"></td>
                                      </tr>
                                      <tr>
                                        <td width="18%" >Codice fiscale </td>
                                        <td colspan="6" ><input name="textfield2223324222" value="$$codiceFiscale" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="20" maxlength="16"></td>
                                      </tr>
                                      <tr>
                                        <td>Indirizzo</td>
                                        <td colspan="6"><input name="textfield2223324223" value="$$indirizzo" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="50" maxlength="40"></td>
                                      </tr>
                                      <tr>
                                        <td width="18%">CAP </td>
                                        <td colspan="6"><input name="textfield2223324225" value="$$cap" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="10" maxlength="5">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="18%" >Comune</td>
                                        <td colspan="6" ><input name="textfield2223324224" value="$$comune" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="50" maxlength="40"></td>
                                      </tr>
                                      <tr>
                                        <td width="18%">&nbsp; </td>
                                        <td colspan="6">&nbsp; </td>
                                      </tr>
                                    </table>
                                    <br>
									                 <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                     <tr>
                                        <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                    </table> <br>
                                    @@AnagraficaTecnico
                                    @@Organizzazione
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td colspan="7"> <div align="center"><strong>Organizzazione
                                            di appartenenza</strong> </div></td>
                                      </tr>
                                    </table>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="2" bgcolor="#FFFFFF" class="testoTabellelunghe">
                                      <tr class="testoTabellelunghe">
                                        <td width="24%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Ragione
                                          sociale </b></td>
                                        <td width="17%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Partita
                                          IVA </b></td>
                                        <td width="13%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Sede
                                          territoriale </b></td>
                                        <td width="11%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Indirizzo</b></td>
                                        <td width="35%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><strong>Comune</strong></td>
                                      </tr>
                                      <tr>
                                        <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                      <tr valign="top">
                                        <td class="testoTabellelunghe">$$ragioneSociale </td>
                                        <td class="testoTabellelunghe">$$partitaIva</td>
                                        <td class="testoTabellelunghe">$$sede</td>
                                        <td class="testoTabellelunghe">$$indirizzo</td>
                                        <td class="testoTabellelunghe">$$comune</td>
                                      </tr>
                                    </table>
                                    <br>
                                   <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                     <tr>
                                        <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                    </table>
                                    <br>
                                    @@Organizzazione
                                    @@AnagraficaProprietario
                                    <form name="proprietario" method="post" action="../controller/datiAnagrafiche.jsp">
                                    <input type="hidden" name="idAnagrafica" value="$$idAnagrafica">
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td colspan="5"> <div align="center">
                                            <b>Dati anagrafici del proprietario del campione</b> </div></td>
                                      </tr>
                                      <tr>
                                        <td width="25%">P. Iva o Cod. Fisc. (*)<br>(CUAA per aziende agricole)</td>
                                        <input type="hidden"  name="codiceIdentificativo" value="$$codiceFiscale">
                                        <td colspan="4"> <input name="codiceIdentificativo" value="$$codiceFiscale" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="25" maxlength="16">
                                        </td>
                                      </tr>
                                      <tr>
                                        <input type="hidden"  name="nome" value="$$nome">
                                        <input type="hidden"  name="cognomeRagioneSociale" value="$$cognome">
                                        <td>Cognome e Nome o Ragione
                                          Sociale (*)</td>
                                        <td colspan="4"> <input name="textfield222332424" value="$$ragioneSociale" type="text" disabled class="testoCampi" style="BACKGROUND-COLOR: #F0F0EF; COLOR: #000000" size="50" maxlength="50">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Indirizzo</td>
                                        <td colspan="4"> <input name="indirizzo" value="$$indirizzo" type="text" class="testoCampi" size="60" maxlength="40">
                                        ##errore1</td>
                                      </tr>
                                      <tr>
                                        <td>CAP</td>
                                        <td colspan="4">
                                        	<input name="cap" value="$$cap" type="text" class="testoCampi" size="10" maxlength="5">
                                           ##errore2
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Comune (*)</td>
                                        <input type="hidden" name="istat" value="##istat">
                                        <input type="hidden" name="siglaProv" value="##siglaProv">
                                        <td colspan="4"><input name="comune" type="text" onFocus="comunePop.focus();" value="$$comune" class="testoCampi" size="50" maxlength="40">
                                        <a href="javascript:popComuneSearch(proprietario.istat,proprietario.comune,proprietario.siglaProv);" name="comunePop" class="pulsante">Seleziona</a>##errore3
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Telefono</td>
                                        <td colspan="4"> <input name="telefono" value="$$telefono" type="text" class="testoCampi" size="25" maxlength="20">
                                        ##errore5</td>
                                      </tr>
                                      <tr>                                        
                                        <td>Fax</td>
                                        <td colspan="4"><input value="$$fax" name="fax" type="text" class="testoCampi" size="25" maxlength="20">
                                        ##errore6</td>
                                      </tr>
                                      <tr>
                                        <td>e.mail</td>
                                        <td colspan="4"> <input name="email" value="$$email" type="text" class="testoCampi" size="50" maxlength="50">
                                        ##errore4</td>
                                      </tr>
                                      <tr>
                                        <td>Anagrafica presente in Anagrafe Unica (SIAP)</td>
                                        <td colspan="4">
                                        <!--	<input type="checkbox" name="chkPresenteAnagrafe" value="checkbox" $$checkedPresenteAnagrafe disabled> -->
                                        	$$presenteAnagrafe
                                        </td>
                                      </tr>                                        
                                    </table>
                                  <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><div align="center"><a class="$$disab" href="javascript:if (salva(proprietario)) proprietario.submit();"><img src="../layout/im/b_conferma.gif" width="150" height="16" border="0"></a>
                                        $$messaggio_disab</div></td>
                                      </tr>
                                    </table> <br></td>
                                </tr>
                                </form>
                                @@AnagraficaProprietario
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
