<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script language="JavaScript">
<!--
function pop(str) {
        searchWin = window.open(str,'comune','scrollbars=yes,resizable=yes,width=600,height=530,status=no,location=no,toolbar=no');
}
function pop2(str) {
        searchWin = window.open(str,'anagrafica','scrollbars=yes,resizable=yes,width=700,height=500,status=no,location=no,toolbar=no');
}

//-->
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle"> 
    <td> 
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr> 
          <td> 
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>
              
              <tr valign="top" align="right"> 
                <td width="640"> 
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84"> 
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14"> 
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp; 
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top"> 
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr> 
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2"> 
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif"> 
                            <td background="../layout/im/pix-gri-ban.gif"> 
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif"> 
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr> 
                                          <td> <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="principale.htm"><br>
                                      </a><a href="Login.htm"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <a href="menuCampioni.htm"><img src="../layout/im/tit_sx_campioni_off.gif" alt="campioni" width="124" height="29" border="0"></a> 
                                      <br>
                                      <a href="javascript:pop2('anagraficaUtentePOP.htm');"> 
                                      </a><br>
                                      <a href="homeFrontOffice.htm"> </a> <a href="menuAnagrafiche.htm"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br>
                                      <a href="javascript:pop2('anagraficaUtentePOP.htm');"><br>
                                      </a><a href="utility.htm"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"><br>
                                      </a><a href="javascript:pop2('anagraficaUtentePOP.htm');"> 
                                      <br>
                                      </a> 
                                      <table width="124" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr> 
                                          <td><table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#DE8636">
                                              <tr> 
                                                <td background="../layout/im/utilita.gif">&nbsp;</td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><strong><a href="stampaLog.htm" class="testoTabellelungheVerdeON">Stampa 
                                                  Log</a></strong> </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><strong><a href="gestioneFatture.htm" class="testoTabellelungheVerdeON">Gestione 
                                                  fatture emesse</a></strong></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><strong><a href="stampaFatture.htm" class="testoTabellelungheVerdeON">Elenco 
                                                  fatture</a></strong></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><strong><a class="testoTabellelungheVerdeON" href="../controller/fatturaInBianco.jsp">Emissione fattura in bianco</a></strong></td>
                                              </tr>                                         
                                              <tr> 
                                                <td bgcolor="#FFE193"><a href="elencoCcampioni.htm" class="testoTabellelungheVerdeON"><strong>Elenco 
                                                  campioni</strong></a> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="HomeBackOffice.htm"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"><br>
                                      <br>
                                      </a> </div></td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA"> 
                                    <h1> Stampa elenco campioni </h1>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr> 
                                        <td><div align="center"><strong>Imposta 
                                            filtri di ricerca campione </strong></div></td>
                                      </tr>
                                    </table>
                                    <table width="98%" border="0" align="center" cellspacing="5">
                                      <tr> 
                                        <td  width="33%"><b>Tipo di materiale/Matrice</b></td>
                                        <td width="67%"> <select name="select" class="testoCampi">
                                            <option>-----</option>
                                            <option>Terreni</option>
                                            <option>Vegetali - Foglie (Fruttiferi 
                                            e Vite)</option>
                                            <option>Vegetali - Frutta</option>
                                            <option>Vegetali - Foglie (Erbacee)</option>
                                          </select> </td>
                                      </tr>
                                      <tr> 
                                        <td  width="33%"><b>Anno / Numero campione</b></td>
                                        <td><span class="testoTabellelunghe">da</span> 
                                          <input name="textfield8" type="text" class="testoCampi" size="4" maxlength="4">
                                          / 
                                          <input name="textfield9" type="text" class="testoCampi" size="6" maxlength="6"> 
                                          <span class="testoTabellelunghe">a</span> 
                                          <input name="textfield82" type="text" class="testoCampi" size="4" maxlength="4">
                                          / 
                                          <input name="textfield92" type="text" class="testoCampi" size="6" maxlength="6"> 
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td  width="33%"><b>Numero della richiesta</b></td>
                                        <td><span class="testoTabellelunghe">da</span> 
                                          <input name="textfield" type="text" class="testoCampi" size="9" maxlength="9"> 
                                          <span class="testoTabellelunghe">a </span> 
                                          <input name="textfield2" type="text" class="testoCampi" size="9" maxlength="9"> 
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td><b>Data di richiesta analisi</b></td>
                                        <td>&nbsp;</td>
                                      </tr>
                                      <tr> 
                                        <td>successiva al </td>
                                        <td><input name="textfield522" type="text" class="testoCampi" size="2" maxlength="2">
                                          / 
                                          <input name="textfield622" type="text" class="testoCampi" size="2" maxlength="2">
                                          / 
                                          <input name="textfield722" type="text" class="testoCampi" size="4" maxlength="4"> 
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td>precedente al </td>
                                        <td><input name="textfield523" type="text" class="testoCampi" size="2" maxlength="2">
                                          / 
                                          <input name="textfield623" type="text" class="testoCampi" size="2" maxlength="2">
                                          / 
                                          <input name="textfield723" type="text" class="testoCampi" size="4" maxlength="4"> 
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td colspan="2"><b>Anagrafica del Proprietario</b><br> 
                                          <span class="testoTabellelunghe">(ricerca 
                                          per chiave parziale: digitare almeno 
                                          4 caratteri del Cognome o Ragione Sociale)</span></td>
                                      </tr>
                                      <tr> 
                                        <td>Cognome o Ragione sociale </td>
                                        <td><input name="textfield53" type="text" class="testoCampi" size="40" maxlength="50"></td>
                                      </tr>
                                      <tr> 
                                        <td>Nome</td>
                                        <td><input name="textfield533" type="text" class="testoCampi" size="40" maxlength="40"></td>
                                      </tr>
                                      <tr> 
                                        <td colspan="2"><b>Anagrafica del Tecnico 
                                          </b><span class="testoTabellelunghe"><br>
                                          (ricerca per chiave parziale: digitare 
                                          almeno 4 caratteri del cognome)</span></td>
                                      </tr>
                                      <tr> 
                                        <td>Cognome</td>
                                        <td><input name="textfield5332" type="text" class="testoCampi" size="40" maxlength="40"></td>
                                      </tr>
                                      <tr> 
                                        <td>Nome</td>
                                        <td><input name="textfield53322" type="text" class="testoCampi" size="40" maxlength="40"></td>
                                      </tr>
                                      <tr> 
                                        <td><b>Tipo organizzazione </b></td>
                                        <td> <select name="select4" class="testoCampi">
                                            <option>----------</option>
                                            <option>Organizzazione professionale</option>
                                            <option>Liberi professionisti</option>
                                            <option>Universit&agrave;</option>
                                          </select> </td>
                                      </tr>
                                      <tr> 
                                        <td><b>Organizzazione</b></td>
                                        <td> <select name="select3" class="testoCampi">
                                            <option>---------------</option>
                                            <option>Associazione Agricoltori - 
                                            TORINO</option>
                                            <option>Coldiretti - TORINO</option>
                                            <option>Coldiretti - CUNEO</option>
                                            <option>Unione agricoltori - CARAGLIO</option>
                                          </select> </td>
                                      </tr>
                                      <tr> 
                                        <td><b>Etichetta<br>
                                          </b><span class="testoTabellelunghe">(ricerca 
                                          per chiave parziale: digitare almeno 
                                          4 caratteri)</span></td>
                                        <td valign="top">
<input name="textfield3" type="text" class="testoCampi" size="40" maxlength="40"></td>
                                      </tr>
                                      <tr> 
                                        <td><b>Laboratorio di consegna </b></td>
                                        <td> <select name="select2" class="testoCampi">
                                            <option>-----</option>
                                            <option>LABORATORIO AGROCHIMICO Regionale 
                                            - TORINO</option>
                                            <option>LABORATORIO AGROCHIMICO Regionale 
                                            - CEVA (CN)</option>
                                            <option>LABORATORIO AGROCHIMICO Regionale 
                                            - ALESSANDRIA</option>
                                          </select> </td>
                                      </tr>
                                      <tr> 
                                        <td><b>Stato</b></td>
                                        <td> <select name="select5" class="testoCampi">
                                            <option>---------------------</option>
                                            <option>Richiesta in Bozza</option>
                                            <option>Analisi richiesta</option>
                                            <option>Campione in laboratorio</option>
                                            <option>Referto da emettere</option>
                                            <option>Referto emesso</option>
                                          </select> </td>
                                      </tr>
                                      <tr> 
                                        <td><b>Stato pagamento analisi </b></td>
                                        <td> <select name="select6" class="testoCampi">
                                            <option>------------</option>
                                            <option>pagata</option>
                                            <option>da pagare</option>
                                            <option>gratuita</option>
                                          </select> </td>
                                      </tr>
                                      <tr> 
                                        <td><b>Analisi con Fattura</b></td>
                                        <td> <select name="select7" class="testoCampi">
                                            <option>-------------------</option>
                                            <option>da emettere</option>
                                            <option>emessa</option>
                                            <option>non richiesta</option>
                                          </select> </td>
                                      </tr>
                                      <tr> 
                                        <td><b>Spedizione fattura</b></td>
                                        <td> <select name="select8" class="testoCampi">
                                            <option>---------------------------------</option>
                                            <option>Fatture da spedire</option>
                                            <option>Fatture da consegnare a mano</option>
                                          </select> </td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" cellspacing="5" cellpadding="0">
                                      <tr>
                                        <td><div align="center"><a href="dwd/ElencoCampioni.pdf" target="_blank"><img src="../layout/im/b_stamap.gif" alt="stampa" width="150" height="16" border="0"></a></div></td>
                                      </tr>
                                    </table>
                                    <h1>&nbsp; </h1>
                                    </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>

                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333"> 
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span> 
</body>
</html>
