<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/verificaData.js"></script>
<script src="../layout/js/testLength.js"></script>
<script src="../layout/js/trim.js"></script>
<script src="../layout/js/isNumber.js"></script>
<script src="../layout/js/isFloat.js"></script>
<script src="../layout/js/dotCheck.js"></script>
<script src="../layout/js/foglieFruttaDati.js"></script>
<script>
  function caricaPagina()
  {
    foglieFruttaDati.action="../view/foglieFruttaDati.jsp";
    foglieFruttaDati.submit();
  }
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC" onload="controllaRadioCombo(document.foglieFruttaDati.giacitura,document.foglieFruttaDati.idEsposizione);">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top">
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif">
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td>
                                            <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <table width="124" height="142" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr>
                                          <td><table width="100%" height="169" border="0" cellpadding="4" cellspacing="1" background="../layout/im/tit_sx_campioni_on3.gif">
                                              <tr>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr bgcolor="#FFFFFF">
                                                <td bgcolor="#FFFFFF"><strong><span class="testoTabellelungheVerde"><a href="../controller/ricercaCampioni.jsp" class="testoTabellelungheVerdeON">Ricerca
                                                  campione</a></span></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFE193" class="testoTabellelungheVerdeON"><strong><a href="../controller/analisiRichieste.jsp" class="testoTabellelungheVerdeON">Analisi
                                                  richieste</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/campioniLaboratorio.jsp" class="testoTabellelungheVerdeON">Campioni
                                                  in laboratorio</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/analisiTerminate.jsp" class="testoTabellelungheVerdeON">Referti
                                                  da emettere</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><span class="testoTabellelungheVerde"><strong><a href="../controller/refertiEmessi.jsp" class="testoTabellelungheVerdeON">Referti
                                                  emessi</a></strong></span> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      <a href="../controller/ricercaCampioni.jsp"> </a> <a href="javascript:pop2('anagraficaUtentePOP.htm');"><br>
                                      </a><a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <a href="homeFrontOffice.htm"><br>
                                      </a> <a href="../view/menuTabelle.jsp"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="dati di sistema" width="124" height="29" border="0"></a><br>
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a> -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                    </div>



                                  </td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA">
                                    <h1>Campioni - analisi richieste<br>
                                    </h1>
                                    <h2> Modifica dati del campione </h2>
                                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr align="center" valign="top">
                                        <td width="20%" class="pul">
                                        <a href="#" onClick="pop('../report/anagraficaCampione##codiceMateriale.pdf?idRichiesta=##idRichiesta',647,480,'pdf');" class="pul">Scheda di accompagnamento</a></td>
                                        <td width="20%" class="pulselect">Modifica dati del campione</td>
                                        <td width="20%" class="pul"><a href="../view/annullaRichiesta.jsp" class="pul">Annulla richiesta</a></td>
                                        <td width="20%" class="pul"><a href="../view/accettazioneScarto.jsp" class="pul">Accettazione/Scarto</a></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                      <td width="144" align="bottom">&nbsp;</td>
                                      <td width="159" align="bottom"><a class="inseriti" @@SiGis href="../view/coordinatePrelievo.jsp" alt="coordinate prelievo" @@SiGis @@NoGis href="javascript:alert('Questo tipo di materiale non richiede l\'inserimento delle cordinate del prelievo');"@@NoGis>coordinate<br>prelievo</a></td>
                                      <td width="163" align="bottom"><a class="fuoco">caratteristiche<br>campione</a></td>
                                      </tr>
                                    </table>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><div align="center"><img src="../layout/im/tit_carat_on.gif" alt="modifica dati del campione - menu di navigazione" width="466" height="22" border="0"></div></td>
                                      </tr>
                                    </table>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                      <td width="65" align="top">&nbsp;</td>
                                      <td width="159" align="top"><a class="inseriti" href="../view/identificazioneCampione.jsp">identificativi<br>campione</a></td>
                                      <td width="166" align="top"><a class="inseriti" href="../view/datiAnagrafiche.jsp">utente e<br>proprietario</a></td>
                                      <td width="76" align="top"><a class="inseriti" href="../controller/analisi.jsp">analisi<br>richiesta</a></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td>In questa form vengono visualizzate
                                          le informazioni relative alle caratteristiche
                                          del campione.</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <form name="foglieFruttaDati" method="post" action="../controller/foglieFruttaDati.jsp">
                                    <table width="98%" border="0" align="center">
                                    @@errore
                                    <tr>
                                      <td colspan="3" class="testoERRORE">I dati contrassegnati da &nbsp;<img src="../layout/im/ko.gif">&nbsp;
                                      non sono stati inseriti correttamente
                                        <br>
                                        <br>
                                      </td>
                                    </tr>
                                    @@errore
                                    @@modifica
                                    <tr>
                                      <td colspan="3" class="testoOK">Modifica effettuata correttamente
                                        <br>
                                        <br>
                                      </td>
                                    </tr>
                                      @@modifica
                                      @@macinati
                                      <tr>
                                        <td colspan="3">&nbsp;Macinati (*)
                                          &nbsp;&nbsp;&nbsp;
                                          <input type="radio" name="macinato" value='S' $$checkedMacinateSi>
                                          Si
                                          <input type="radio" name="macinato" value='N' $$checkedMacinateNo>
                                          No</td>
                                      </tr>
                                      <tr>
                                       <td colspan="3">
                                         &nbsp;
                                       </td>
                                      </tr>
                                      @@macinati
                                      <tr>
                                        <td colspan="3"> <div align="center"><strong>Informazioni
                                            sulla zona del prelievo e caratteristiche
                                            del campione </strong> </div></td>
                                      </tr>
                                      <tr>
                                        <td width="48%">Data campionamento (*) <br> <span class="testoTabellelunghe">
                                          (data del prelievo in formato gg/mm/aaaa)
                                          </span> </td>
                                        <td width="52%">
                                                <input name="giornoCampionamento" type="text" class="testoCampi" size="2" maxlength="2" value="##giornoCampionamento">
                                                /
                                                <input name="meseCampionamento" type="text" class="testoCampi" size="2" maxlength="2" value="##meseCampionamento">
                                                /
                                                <input name="annoCampionamento" type="text" class="testoCampi" size="4" maxlength="4" value="##annoCampionamento">
                                                ##errore1
                                                </td>
                                      </tr>
                                      <tr>
                                        <td>Superficie appezzamento</td>
                                        <td> <select name="superficieAppezzamento" class="testoCampi">
                                                  <option value="-1">--------</option>
                                                    @@superficieAppezzamento
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@superficieAppezzamento
                                                </select></td>
                                      </tr>
                                      <tr>
                                        <td>Giacitura (*) </td>
                                        <td> <input type="radio" name="giacitura" value="P" ##checkedPiano onClick="disabilitaCombo(document.foglieFruttaDati.idEsposizione);">
                                          Piano
                                          <input type="radio" name="giacitura" value="A" ##checkedAcclive onClick="abilitaCombo(document.foglieFruttaDati.idEsposizione);">
                                          Acclive </td>
                                      </tr>
                                      <tr>
                                        <td>Direzione di esposizione del terreno
                                          rispetto al sole<br> <span class="testoTabellelunghe">(*
                                          obbligatorio se Acclive)</span></td>
                                        <td valign="top">
                                          <select name="idEsposizione" class="testoCampi">
                                                 <option value="-1">--------</option>
                                                    @@idEsposizione
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@idEsposizione
                                                </select>##errore2</td>
                                      </tr>
                                      <tr>
                                        <td>Presenza di pietre o ghiaie</td>
                                        <td> <input type="radio" name="scheletro" value="S" ##checkedSi>
                                          Si
                                          <input type="radio" name="scheletro" value="N" ##checkedNo>
                                          No </td>
                                      </tr>
                                      <tr>
                                        <td>Altitudine SLM (*) <span class="testoTabellelunghe">(in
                                          metri) </span></td>
                                        <td> <input name="altitudineSlm" type="text" class="testoCampi" size="4" maxlength="4" value="##altitudineSlm">##errore3</td>
                                      </tr>
                                      <tr>
                                        <td>Et&agrave; dell'impianto (*)<span class="testoTabellelunghe">
                                          (in anni) </span></td>
                                        <td> <input name="etaImpianto" type="text" class="testoCampi" size="2" maxlength="2" value="##etaImpianto">
                                              ##errore4
                                              </td>
                                      </tr>
                                      <tr>
                                        <td height="20" colspan="2" > <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" > <div align="center"><strong>Dati
                                            sulla coltura</strong></div></td>
                                      </tr>
                                      <tr>
                                        <td>Classe coltura (*)</td>
                                        <td> <select name="idColtura" class="testoCampi" onChange="caricaPagina();">
                                                  <option value="-1">--------</option>
                                                    @@classe
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@classe
                                                </select>##errore5 </td>
                                      </tr>
                                      <tr>
                                        <td height="20" colspan="2" > <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3">Selezionare la specie
                                          coltura tra quelle in elenco oppure
                                          inserirla manualmente nel campo <br>
                                          &quot;Altra specie&quot;</td>
                                      </tr>
                                      <tr>
                                        <td>Specie coltura (*)</td>
                                        <td> <select name="idSpecie" class="testoCampi" onChange="caricaPagina();">
                                                  <option value="-1">--------</option>
                                                    @@specie
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@specie
                                                </select>##errore6 </td>
                                      </tr>
                                      <tr>
                                        <td>Altra specie</td>
                                        <td><input name="altraSpecie" type="text" class="testoCampi" size="40" maxlength="40" value="##altraSpecie">##errore6</td>
                                      </tr>
                                      <tr>
                                        <td>Variet&agrave; di specie</td>
                                        <td> <select name="idVarieta" class="testoCampi">
                                                  <option value="-1">--------</option>
                                                    @@idVarieta
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@idVarieta
                                                </select>  </td>
                                      </tr>
                                      <tr>
                                        <td>Porta innesto</td>
                                        <td> <select name="idInnesto" class="testoCampi">
                                                  <option value="-1">--------</option>
                                                    @@idInnesto
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@idInnesto
                                                </select></td>
                                      </tr>
                                      <tr>
                                        <td height="20" colspan="2" > <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3">Selezionare il sistema
                                          di allevamento tra quelli in elenco
                                          oppure inserirlo manualmente nel campo
                                          &quot;Altro allevamento&quot;</td>
                                      </tr>
                                      <tr>
                                        <td>Sistema allevamento (*)</td>
                                        <td> <select name="idSistemaAllevamento" class="testoCampi">
                                                  <option value="-1">--------</option>
                                                    @@idSistemaAllevamento
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@idSistemaAllevamento
                                                </select>##errore7</td>
                                      </tr>
                                      <tr>
                                        <td>Altro allevamento</td>
                                        <td><input name="altroAllevamento" type="text" class="testoCampi" size="40" maxlength="40" value="##altroAllevamento"> ##errore7</td>
                                      </tr>
                                      <tr>
                                        <td height="20" colspan="2" > <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td>Distanza tra le piante nel filare<br>
                                          <span class="testoTabellelunghe">(in
                                          metri con 2 decimali)</span></td>
                                        <td> <input name="sestoImpianto1" type="text" class="testoCampi" size="5" maxlength="5" value="##sestoImpianto1" onBlur="value=dotCheck(value)">
                                         ##errore8
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Distanza tra i filari <br> <span class="testoTabellelunghe">(in
                                          metri con 2 decimali)</span></td>
                                        <td> <input name="sestoImpianto2" type="text" class="testoCampi" size="5" maxlength="5" value="##sestoImpianto2" onBlur="value=dotCheck(value)">
                                          ##errore9 </td>
                                      </tr>
                                      <tr>
                                        <td height="20" colspan="2" > <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" > <div align="center"><strong>Concimazione
                                            effettuata nell'anno espressa in Kg/Ha</strong></div></td>
                                      </tr>
                                      <tr>
                                        <td>Unit&agrave; N</td>
                                        <td> <input name="unitaN" type="text" class="testoCampi" size="6" maxlength="6" value="##unitaN">
                                         ##errore10
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Unit&agrave; P<sub>2</sub>O<sub>5</sub>
                                        </td>
                                        <td> <input name="unitaP2O5" type="text" class="testoCampi" size="6" maxlength="6" value="##unitaP2O5">##errore11</td>
                                      </tr>
                                      <tr>
                                        <td>Unit&agrave; K<sub>2</sub>O</td>
                                        <td> <input name="unitaK2O" type="text" class="testoCampi" size="6" maxlength="6" value="##unitaK2O">
                                        ##errore12
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Unit&agrave; Mg</td>
                                        <td> <input name="unitaMg" type="text" class="testoCampi" size="6" maxlength="6" value="##unitaMg">##errore13</td>
                                      </tr>
                                      <tr>
                                        <td height="20" colspan="2" > <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td>Quantità di letame cosparsa in un
                                          anno <br>
                                          espressa in q/Ha</td>
                                        <td> <input name="letamazioneAnno" type="text" class="testoCampi" size="4" maxlength="4" value="##letamazioneAnno">
                                          ##errore14
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Concimazione organica (*)</td>
                                        <td> <select name="tipoConcimazione" class="testoCampi" onChange="caricaPagina();">
                                            <option value="-1">--------</option>
                                                  @@tipoConcimazione
                                                    <option value="$$codice" $$selected>$$descrizione</option>
                                                  @@tipoConcimazione
                                          </select> ##errore15</td>
                                      </tr>
                                      <tr>
                                        <td>Concime utilizzato <br>
                                          <span class="testoTabellelunghe">(*
                                          se concimazione abituale o saltuaria)</span></td>
                                        <td> <select name="idConcime" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idConcime
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idConcime
                                          </select>##errore16</td>
                                      </tr>
                                      <tr>
                                        <td>Stadio fenologico (*)</td>
                                        <td> <select name="idStadioFenologico" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idStadioFenologico
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idStadioFenologico
                                          </select> ##errore17</td>
                                      </tr>
                                      <tr>
                                        <td>Produttivit&agrave; indicativa dell'anno
                                          passato</td>
                                        <td> <select name="codiceProduttivita" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@codiceProduttivita
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@codiceProduttivita
                                          </select></td>
                                      </tr>
                                      <tr>
                                        <td>Nel caso in cui, negli ultimi 4 anni
                                          sia stata effettuata un'analisi sul
                                          terreno da cui è stato prelevato il
                                          campione di vegetale, indicare il numero
                                          identificativo del campione di terreno</td>
                                        <td valign="top">
                                          <input name="campioneTerreno" type="text" class="testoCampi" size="20" maxlength="20" value="##campioneTerreno">
                                        ##errore18
                                        </td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                        <td> I dati contrassegnati con (*) sono
                                          obbligatori.</td>
                                      </tr>
                                    </table>
                                    </form>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><div align="center"><a href="javascript:if (salva(foglieFruttaDati)) foglieFruttaDati.submit();"><img src="../layout/im/b_conferma.gif" width="150" height="16" border="0"></a></div></td>
                                      </tr>
                                    </table> <br></td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
