<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="SistemaPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top">
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="135" valign="top" background="../layout/im/pix_verde_nuovo.gif">
                                    <div align="center"> <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td><p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/menuCampioni.jsp"><img src="../layout/im/tit_sx_campioni_off.gif" alt="campioni" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/menuTabelle.jsp"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="dati di sistema" width="124" height="29" border="0"></a><br>
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a> -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"><br>
                                      <br>
                                      </a> </div>



                                  </td>
                                  <td height="450" valign="top" bgcolor="#F2F1EA">
                                    <br>
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td width="27%"><p class="testoERRORE">Laboratorio Agrochimico
                                          </p>
                                          </td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center">
                                    <tr>
                                    <td>
                                      Il Laboratorio Agrochimico Regionale è stato costituito in data 01.01.1978; dal 01.01.1998 &egrave;<br>
                                      integrato nel Settore Fitosanitario Regionale (D.C.R. 30.09.1997 n. 442-14210).<br><br>
									</td>
								    </tr>
								    <tr>
								    <td>
                                      Articolato nelle sedi di Torino e Ceva, effettua analisi su varie matrici di interesse agrario e alimentare, 
                                      sia per utilizzazioni direttamente operative (scelte di concimazione, progetti di valorizzazione, indagini 
                                      conoscitive, ecc.), sia a supporto di prove sperimentali e progetti di ricerca. Le matrici analizzate sono:
                                    </td>
                                    </tr>
                                    </table>
                                    <table>
                                     <tr>
                                      <td>
                                       <ul>
                                         <li><b>terreni</b></li>
                                         <li><b>matrici vegetali</b>, (es. foglie, frutti) </li>
                                         <li><b>acque irrigue o reflue</b></li>
                                         <li><b>compost,  terricci e matrici organiche</b></li>
                                          <br><br>
                                          Per informazioni e/o consegna/invio campioni:<br>
                                          ##HBTO<br><br>

                                          ##HBCE<br><br>
                                          
                                          ##HBCA<br><br>
                                          
                                          ##HBAL<br><br>
                                       </ul>
                                      </td>
                                     </tr>

                                    </table> </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <br>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
