<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/trim.js"></script>
<script src="../layout/js/isFloat.js"></script>
<script src="../layout/js/dotCheck.js"></script>
<script src="../layout/js/metalliPesanti.js"></script>
<script>
function cancella()
{
  @@cancella
  if (confirm('Il record verrà cancellato. Confermi?'))
  {
    metalliPesanti.azione.value = 'delete';
    metalliPesanti.submit();
  }
  @@cancella

  @@nonCancella
  alert('Non è presente alcun record da cancellare');
  @@nonCancella
}
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle"> 
    <td> 
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr> 
          <td> 
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>
              
              <tr valign="top" align="right"> 
                <td width="640"> 
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84"> 
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14"> 
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp; 
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top"> 
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr> 
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2"> 
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif"> 
                            <td background="../layout/im/pix-gri-ban.gif"> 
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr> 
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif"> 
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr> 
                                          <td>
                                            <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="principale.htm"><br>
                                      </a><a href="Login.htm"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <table width="124" height="142" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr>
                                          <td><table width="100%" height="169" border="0" cellpadding="4" cellspacing="1" background="../layout/im/tit_sx_campioni_on3.gif">
                                              <tr>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerdeON"><strong><a href="../controller/ricercaCampioni.jsp" class="testoTabellelungheVerdeON">Ricerca campione</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><strong><a href="../controller/analisiRichieste.jsp" class="testoTabellelungheVerdeON">Analisi richieste</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFE193"><strong><a href="../controller/campioniLaboratorio.jsp" class="testoTabellelungheVerdeON">Campioni in laboratorio</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/analisiTerminate.jsp" class="testoTabellelungheVerdeON">Referti da emettere</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><span class="testoTabellelungheVerde"><strong><a href="../controller/refertiEmessi.jsp" class="testoTabellelungheVerdeON">Referti emessi</a></strong></span> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <br>
                                      <a href="../view/menuTabelle.jsp"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="dati di sistema" width="124" height="29" border="0"></a><br>
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a> -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"><br>
                                      <br>
                                      </a></div>
                                  </td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA"> 
                                    <h1>Esito delle analisi - Terreni <br>
                                    </h1>
                                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr align="center" valign="top">
                                        <td width="20%" class="pul">
                                        <a href="#" onClick="pop('../report/anagraficaCampione##codiceMateriale.pdf?idRichiesta=##idRichiesta',647,480,'pdf');" class="pul">Scheda di accompagnamento</a></td>
                                        <td width="20%" class="pul"><a href="../controller/analisiRichiesteExcel.jsp" class="pul">Elenco analisi richieste</a></td>
                                        <td width="20%" class="pulselect">Inserisci esito analisi</td>
                                        <td width="20%" class="pul"><a href="../view/annullaRichiestaCamp.jsp?idRichiestaSearch=##idRichiesta" class="pul">Annulla richiesta</a></td>
                                        <td width="20%" class="pul"><a href="../view/esistoTerminato.jsp" class="pul">Conferma analisi</a></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td>Con questa funzione si inseriscono 
                                          i dati di risultato delle analisi per 
                                          i terreni. I dati sono suddivisi nelle 
                                          varie tipologie di dati omogenei. Inseriti 
                                          i dati di input, alla conferma vengono 
                                          calcolati e visualizzati i campi di 
                                          output.</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td colspan="8"> <div align="center"><strong>Dati
                                            identificativi del campione </strong></div></td>
                                      </tr>
                                      <tr>
                                        <td width="33%"  rowspan="2">Anno / Numero
                                          campione</td>
                                        <td width="67%" colspan="5" rowspan="2">
                                         <form name="selectIdRichiesta" method="post" action="../view/metalliPesanti.jsp">
                                          <select name="idRichiesta" class="testoCampi" onchange="submit();">
                                            @@annoNumero
                                              <option value="$$idRichiesta" $$selected>$$annoNumero</option>
                                            @@annoNumero
                                          </select> </td>
                                         </form>
                                      </tr>
                                      <tr> </tr>
                                    </table>
                                    <table width="98%" border="0" align="center" cellpadding="1" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                      <tr>
                                        <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="2" bgcolor="#FFFFFF" class="testoTabellelunghe">
                                            <tr class="testoTabellelunghe">
                                              <td width="25%" bgcolor="#F2F1EA" class="testoTabellelunghe"><b></b><b>Numero richiesta</b></td>
                                              <td width="25%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Materiale/Matrice</b></td>
                                              <td width="13%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Etichetta</b><b></b></td>
                                              <td width="25%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe"><b>Laboratorio di analisi</b></td>
                                            </tr>
                                            <tr>
                                              <td colspan="7" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                           @@etichetta
                                            <tr valign="top">
                                              <td class="testoTabellelunghe">
                                                $$idRichiesta</td>
                                              <td class="testoTabellelunghe">$$descMateriale</td>
                                              <td class="testoTabellelunghe">$$etichetta</td>
                                              <td class="testoTabellelunghe">$$labAnalisi</td>
                                            </tr>
                                           @@etichetta
                                          </table></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="550" bgcolor="#F2F1EA" border="0" cellpadding="0" cellspacing="0" align="center">
																		<tbody>
																		<TR>
																		  <TD width="65" valign="bottom">&nbsp;</TD>
																		  <TD width="90" valign="bottom"><a class="##coloreTitoloGRANAUTOMATICO" @@hrefGRANAUTOMATICO href="../view/granulometriaMetodoAutomatico.jsp" @@hrefGRANAUTOMATICO>granulometria<br>metodo<br>automatico</a></TD>
																		  <TD width="90" valign="bottom"><a class="##coloreTitoloREAZIONESUOLO" @@hrefREAZIONESUOLO href="../view/reazioneSuolo.jsp" @@hrefREAZIONESUOLO>reazione<br>del suolo</a></TD>
																		  <TD width="90" valign="bottom"><a class="##coloreTitoloSOSTANZAORGANICA" @@hrefSOSTANZAORGANICA href="../view/sostanzaOrganica.jsp" @@hrefSOSTANZAORGANICA>sostanza<br>organica</a></TD>
																		  <TD width="90" valign="bottom"><a class="##coloreTitoloCOMPLESSOSCAMBIO" @@hrefCOMPLESSOSCAMBIO href="../view/complessoScambio.jsp" @@hrefCOMPLESSOSCAMBIO>complesso<br>di scambio</a></TD>
																		  <TD width="62" valign="bottom"><a class="##coloreTitoloMICROELEMENTI" @@hrefMICROELEMENTI href="../view/microelementi.jsp" @@hrefMICROELEMENTI>microelementi</a></TD>
																		  <TD width="62" valign="bottom" align="right"><a class="fuoco">metalli<br>pesanti</a></TD>
																		</TR>							
																		</tbody></table>
																		<table width="550" bgcolor="#F2F1EA" border="0" cellpadding="0" cellspacing="0" align="center">
																		<tbody><tr><td><img src="../layout/im/menu_barra.gif" height="23" width="550"></td></tr>
																		</tbody></table>
																		<table width="550" bgcolor="#F2F1EA" border="0" cellpadding="0" cellspacing="0" align="center">
																		<tbody>
																		<TR>
																		  <TD width="20" valign="top">&nbsp;</TD>
																		  <TD width="90" valign="top"><a class="##coloreTitoloUMIDITA" @@hrefUMIDITA href="../view/umidita.jsp" @@hrefUMIDITA>umidit&agrave; del<br>campione</a></TD>
																		  <TD width="90" valign="top"><a class="##coloreTitoloGRANBOJOUCOS" @@hrefGRANBOJOUCOS href="../view/granulometriaMetodoBojoucos.jsp" @@hrefGRANBOJOUCOS>granulometria<br>metodo<br>Bojoucos</a></TD>
																		  <TD width="90" valign="top"><a class="##coloreTitoloCALCIMETRIA" @@hrefCALCIMETRIA href="../view/calcimetria.jsp" @@hrefCALCIMETRIA>calcimetria</a></TD>
																		  <TD width="90" valign="top"><a class="##coloreTitoloAZOTO" @@hrefAZOTO href="../view/azoto.jsp" @@hrefAZOTO>azoto</a></TD>
																		  <TD width="90" valign="top"><a class="##coloreTitoloFOSFOROOLSEN" @@hrefFOSFOROOLSEN href="../view/fosforoOLSEN.jsp" @@hrefFOSFOROOLSEN>fosforo<br>OLSEN</a></TD>
																		  <TD width="80" valign="top"><a class="##coloreTitoloCONDUCIBILITASALINITA" @@hrefCONDUCIBILITASALINITA href="../view/conducibilitaSalinita.jsp" @@hrefCONDUCIBILITASALINITA>conducibilit&agrave;<br>o salinit&agrave;</a></TD>
																		</TR>
																		</tbody>
																		</table>
                                    <br>
                                    <br>
                                   @@nessuno
                                     <br>
                                     <br>
                                     <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                      <tr>
                                         <td class="testoTabellelunghe" align="center"><b>Non è stata richiesta nessuna "Analisi dei metalli pesanti" per questo campione.</b></td>
                                      </tr>
                                    </table>
                                    @@nessuno
                                    @@errore
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td class="testoERRORE">I dati contrassegnati da &nbsp;<img src="../layout/im/ko.gif">&nbsp;
                                        non sono stati inseriti correttamente
                                          <br>
                                          <br>
                                        </td>
                                      </tr>
                                    </table>
                                    @@errore
                                    @@modifica
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td class="testoOK">Dati registrati correttamente
                                          <br>
                                          <br>
                                        </td>
                                      </tr>
                                    </table>
                                    @@modifica
                                    @@analisi
                                    <form name="metalliPesanti" method="post" action="../controller/metalliPesanti.jsp">
                                      <input type="hidden" name="azione" value="##azione">
                                      <input type="hidden" name="idRichiesta" value="##idRichiestaCorrente">
                                      <input type="hidden" name="analisiFerroTotale" value="##analisiFerroTotale">
                                      <input type="hidden" name="analisiManganeseTotale" value="##analisiManganeseTotale">
                                      <input type="hidden" name="analisiZincoTotale" value="##analisiZincoTotale">
                                      <input type="hidden" name="analisiRameTotale" value="##analisiRameTotale">
                                      <input type="hidden" name="analisiPiomboTotale" value="##analisiPiomboTotale">
                                      <input type="hidden" name="analisiCromoTotale" value="##analisiCromoTotale">
                                      <input type="hidden" name="analisiBoroTotale" value="##analisiBoroTotale">
                                      <input type="hidden" name="analisiNichelTotale" value="##analisiNichelTotale">
                                      <input type="hidden" name="analisiCadmioTotale" value="##analisiCadmioTotale">
                                      <input type="hidden" name="analisiStronzioTotale" value="##analisiStronzioTotale">
                                      <input type="hidden" name="analisiAltroMetalloTotale" value="##analisiAltroMetalloTotale">
                                    
	                                    <table width="98%" border="0" align="center">
	                                    
	                                    @@analisFerroTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Ferro totale (p.p.m.)  (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="ferroTotale" type="text" value="##ferroTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore1
	                                        </td>
	                                      </tr>
	                                    @@analisFerroTotaleBlocco
	                                    
	                                    @@analisManganeseTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Manganese totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="manganeseTotale" type="text" value="##manganeseTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore2
	                                        </td>
	                                      </tr>
	                                    @@analisManganeseTotaleBlocco
	                                    
	                                    @@analisZincoTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Zinco totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="zincoTotale" type="text" value="##zincoTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore3
	                                        </td>
	                                      </tr>
	                                    @@analisZincoTotaleBlocco
	                                    
	                                    @@analisRameTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Rame totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="rameTotale" type="text" value="##rameTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore4
	                                        </td>
	                                      </tr>
	                                    @@analisRameTotaleBlocco
	                                    
	                                    @@analisBoroTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Boro totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="boroTotale" type="text" value="##boroTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore5
	                                        </td>
	                                      </tr>
	                                    @@analisBoroTotaleBlocco
	                                    
	                                    @@analisCadmioTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Cadmio totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="cadmioTotale" type="text" value="##cadmioTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore6
	                                        </td>
	                                      </tr>
	                                    @@analisCadmioTotaleBlocco
	                                    
	                                    @@analisCromoTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Cromo totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="cromoTotale" type="text" value="##cromoTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore7
	                                        </td>
	                                      </tr>
	                                    @@analisCromoTotaleBlocco
	                                    
	                                    @@analisNichelTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Nichel totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="nichelTotale" type="text" value="##nichelTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore8
	                                        </td>
	                                      </tr>
	                                    @@analisNichelTotaleBlocco
	                                    
	                                    @@analisPiomboTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Piombo totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="piomboTotale" type="text" value="##piomboTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore9	                                        
	                                        </td>
	                                      </tr>
	                                    @@analisPiomboTotaleBlocco
	                                    
	                                    @@analisStronzioTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Stronzio totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="stronzioTotale" type="text" value="##stronzioTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore10	                                        
	                                        </td>
	                                      </tr>
	                                    @@analisStronzioTotaleBlocco
	                                    
	                                    @@analisAltroMetalloTotaleBlocco
	                                      <tr> 
	                                        <td width="35%" class="testoTabellelunghe">Altro metallo totale (p.p.m.) (*)</td>
	                                        <td width="65%" colspan="5">
	                                        	<input name="altroMetalloTotale" type="text" value="##altroMetalloTotale" class="testoCampi" size="10" maxlength="10" onBlur="value=dotCheck(value)">##errore11	                                        
	                                        </td>
	                                      </tr>
	                                    @@analisAltroMetalloTotaleBlocco

	                                    </table>
	                                    <br>
	                                    </form>
	                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
	                                      <tr>
	                                        <td><div align="right"><a href="javascript:if (salva(metalliPesanti, ##analisiFerroTotale, ##analisiManganeseTotale, ##analisiZincoTotale, ##analisiRameTotale, ##analisiPiomboTotale, ##analisiCromoTotale, ##analisiBoroTotale, ##analisiNichelTotale, ##analisiCadmioTotale, ##analisiStronzioTotale, ##analisiAltroMetalloTotale)) metalliPesanti.submit();"><img src="../layout/im/b_conferma.gif" alt="conferma" width="150" border="0" height="16"></a></div></td>
	                                        <td><a href="javascript:cancella();"><img src="../layout/im/b_elimina.gif" alt="elimina" width="150" border="0" height="16"></a></td>
	                                      </tr>
	                                    </table>
                                    @@analisi
                                    <p>&nbsp;</p>
                                    </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>

                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333"> 
          <td><a href="http://www.csi.it"><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="CSI-Piemonte l'amministrazione piemontese alla portata di un clic"></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>