<html>
<head>
<title>Servizio AGRICHIM</title>
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/mail.js"></script>
<script src="../layout/js/trim.js"></script>
<script src="../layout/js/testLength.js"></script>
<script src="../layout/js/isNumber.js"></script>
<script src="../layout/js/codiceFiscale.js"></script>
<script src="../layout/js/partitaIVA.js"></script>
<script src="../layout/js/newUserTecnicoPOP.js"></script>
<script>
function conferma()
{
  anagrafica.action="../view/newUserTecnicoPOP.jsp";
  anagrafica.submit();
}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>

<body text="#000000" onLoad="window.focus();" onUnload="if (typeof(hWin)!='undefined') hWin.close(); window.opener.focus();">
  <table width="500" border="0" class="boxborder">
    <tr>
      <td>
        <div align="center">
          <h2>Inserimento nuovo utente tecnico<br>
          </h2>
         <form name="anagrafica" method="post" action="../controller/anagraficaTecnicoPOP.jsp">
          <table width="100%" border="0" align="center">
          @@errore
          <tr>
            <td colspan="2" class="testoERRORE">I dati contrassegnati da &nbsp;<img src="../layout/im/ko.gif">&nbsp;
            non sono stati inseriti correttamente
              <br>
              <br>
            </td>
          </tr>
          @@errore
          @@codFisEsistente
            <tr>
              <td colspan="2"><strong>Attenzione!! Il codice fiscale inserito appartiene
              ad una anagrafica già esistente
                <br>
                <br>
                </strong></td>
            </tr>
            @@codFisEsistente
            <tr>
              <td width="29%">Tipo organizzazione (*) </td>
              <td width="71%">
                <select name="tipoOrganizzazione" onChange="conferma();" class="testoCampi">
                  <option value="-1" selected>----------</option>
                    @@tipoOrganizzazione
                      <option value="$$cod" $$selected>$$desc</option>
                    @@tipoOrganizzazione
                </select>  </td>
            </tr>
            <tr>
              <td>Organizzazione (*) </td>
              <td>
                <select name="organizzazione" class="testoCampi">
                  <option value="-1" selected>----------</option>
                  @@organizzazione
                    <option value="$$cod" $$selected>$$desc</option>
                  @@organizzazione
                </select> ##errore1</td>
            </tr>
            <tr>
              <td>Codice fiscale (*)</td>
              <td> <input name="codiceFiscale" type="text" value="##codiceFiscale" class="testoCampi" size="25" maxlength="16">
              ##errore2</td>
            </tr>
            <tr>
              <td>Cognome (*) </td>
              <td> <input name="cognome" type="text" value="##cognome" class="testoCampi" size="60" maxlength="60">
              ##errore3</td>
            </tr>
            <tr>
              <td>Nome (*)</td>
              <td> <input name="nome" type="text" value="##nome" class="testoCampi" size="40" maxlength="40">
              ##errore4</td>
            </tr>
            <tr>
              <td>Indirizzo (*) </td>
              <td> <input name="indirizzo" type="text" value="##indirizzo" class="testoCampi" size="50" maxlength="40">
              ##errore5</td>
            </tr>
            <tr>
              <td>CAP (*)</td>
              <td> <input name="cap" type="text" value="##cap" class="testoCampi" size="5" maxlength="5">
              ##errore6</td>
            </tr>
            <tr>
              <input type="hidden" name="istat" value="##istat">
              <td>Comune (*) </td>
              <td colspan="2"> <input name="comune" type="text" value="##comune" class="testoCampi" size="50" maxlength="40" readonly>
                <a href="javascript:popComuneSearch(anagrafica.istat,anagrafica.comune);" class="pulsante">Seleziona</a> ##errore7</td>
            </tr>
            <tr>
              <td>Telefono (*) </td>
              <td> <input name="telefono" type="text" value="##telefono" class="testoCampi" size="25" maxlength="20">
              ##errore8</td>
            </tr>
            <tr>
              <td>Cellulare <br>
                <span class="testoTabellelunghe">(* se non si &egrave; indicato
                il telefono) </span></td>
              <td> <input name="cellulare" type="text" value="##cellulare" class="testoCampi" size="25" maxlength="20">
              ##errore9</td>
            </tr>
            <tr>
              <td>E.mail</td>
              <td> <input name="eMail" type="text" value="##eMail" class="testoCampi" size="50" maxlength="50">
              ##errore10</td>
            </tr>
            <tr>
              <td  colspan="3" valign="top">I campi contrassegnati con (*) sono
                obbligatori </td>
            </tr>
          </table>
         </form>
          <br>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">
            <tr>
              <td align="right"><div align="right"><a href="javascript:if (salva(anagrafica)) anagrafica.submit();"><img src="../layout/im/b_conferma.gif" alt="conferma" width="150" height="16" border="0"></a></div></td>
              <td align="right"><div align="left"><a href="javascript:window.close();"><img src="../layout/im/b_annulla.gif" alt="annulla" width="150" height="16" border="0"></a></div></td>
            </tr>
          </table>
          <br>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
