<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script language="javascript">

function vai(n){

if (n ==1)
	window.opener.document.location.href="FRM8-H0 Referti emessi.htm";window.close();}

</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>

<body onload="window.focus();" onunload="window.opener.focus()">
<form name="form2" method="post" action="">
  <table width="80%" border="0" class="boxborder">
    <tr> 
      <td width="100%"> 
        <div align="center"> 
          <h2>Emissione del referto di prova </h2>
          <p align="left">Si sta per emettere il referto di prova con il risultato 
            delle analisi: alla conferma il referto sar&agrave; disponibile on-line 
            all'utente.</p>
          <p align="left">&nbsp;</p>
          <p align="left">Il referto verr&agrave; emesso <b>CON FIRMA / SENZA 
            FIRMA </b></p>
          <p align="left"><b>NON VERRA' INVIATA ALCUNA E.MAIL ALL'UTENTE / VERRA' 
            INVIATA UNA E.MAIL DI SEGNALAZIONE ANALISI TERMINATA ALL'UTENTE</b></p>
          <p align="left">&nbsp;</p>
          <table width="100%" border="0" cellspacing="5" cellpadding="0">
            <tr> 
              <td><div align="right"><a href="javascript:window.close();"><img src="../layout/im/b_conferma.gif" alt="conferma" width="150" height="16" border="0"></a></div></td>
              <td><a href="javascript:window.close();"><img src="../layout/im/b_annulla.gif" alt="annulla" width="150" height="16" border="0"></a></td>
            </tr>
          </table>
          <br>
          </div>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
