<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/isNumber.js"></script>
<script src="../layout/js/filtriRicercaBreve.js"></script>
<script>

function controllaCheckBox(form,modo,percorso,isPdf,checkMateriale)
{
  var valore="",indice=0;
  var codiceMateriale='';

  @@ricercaJavascript

    if (typeof form.checkbox$$idCheck!="undefined")
       if (form.checkbox$$idCheck.checked)
       {
        indice++;
        valore+=form.checkbox$$idCheck.value+",";
       }
  @@ricercaJavascript

    if (indice==0)
    {
      alert("Selezionare almeno una richiesta di analisi");
      return -1;
    }

    if (modo==null)
      if (indice>1)
      {
          alert("Selezionare solo una richiesta di analisi");
          return -1;
      }
    valore=valore.substring(0,valore.length-1);
    codiceMateriale=eval('form.codMateriali'+valore+'.value');
    if(checkMateriale && codiceMateriale=='ZMA'){
        alert("Funzione non disponibile per le matrici diverse dai terreni");
        return -1;
    }

    if (isPdf)
    {
      
      pop(percorso+codiceMateriale+".pdf?idRichiesta="+valore,647,480,'pdf');
    }
    else
    {
      form.action=percorso;
      form.idRichiestaSearch.value=valore;
      form.submit();
    }

    return valore;
}
function selezionaCheckBox(form)
{
  @@ricercaJavascript
    form.checkbox$$idCheck.checked=true;
  @@ricercaJavascript
}

function deSelezionaCheckBox(form)
{
  @@ricercaJavascript
    form.checkbox$$idCheck.checked=false;
  @@ricercaJavascript
}

function erroreMultiplo()
{
@@multipliModificaDatiFattura
alert("I dati della fattura non possono essere modificati perché i campioni selezionati non rispettano uno o più dei seguenti vincoli:\n\n- uno dei campioni è già stato fatturato\n- non è stata richiesta la fattura per uno dei campioni\n- uno dei campioni prevede analisi gratuite");
@@multipliModificaDatiFattura

@@multipli
alert("La fattura non può essere emessa perché i campioni selezionati non rispettano uno o più dei seguenti vincoli:\n\n- uno dei campioni è già stato fatturato\n- non è stata richiesta la fattura per uno dei campioni\n- uno dei campioni prevede analisi gratuite\n- tutti i campioni devono avere gli estremi di fatturazione uguali");
@@multipli

@@singolo
alert("La fattura non può essere emessa perché il campione selezionato non rispetta uno o più dei seguenti vincoli:\n\n- il campione è già stato fatturato\n- non è stata richiesta la fattura per il campione\n- il campione prevede analisi gratuite");
@@singolo

@@singoloModificaDatiFattura
alert("I dati della fattura non possono essere modificati perché il campione selezionato non rispetta uno o più dei seguenti vincoli:\n\n- il campione è già stato fatturato\n- non è stata richiesta la fattura per il campione\n- il campione prevede analisi gratuite");
@@singoloModificaDatiFattura
}

</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC" onload="erroreMultiplo(); messaggioErrore('$$err_error');" @@multiploErrore onload="erroreMultiplo();"  @@multiploErrore>
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top">
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif">
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td>
                                            <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <table width="124" height="142" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr>
                                          <td><table width="100%" height="169" border="0" cellpadding="4" cellspacing="1" background="../layout/im/tit_sx_campioni_on3.gif">
                                              <tr>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerdeON"><strong><a href="../controller/ricercaCampioni.jsp" class="testoTabellelungheVerdeON">Ricerca
                                                  campione</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><strong><a href="../controller/analisiRichieste.jsp" class="testoTabellelungheVerdeON">Analisi
                                                  richieste</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><strong><a href="../controller/campioniLaboratorio.jsp" class="testoTabellelungheVerdeON">Campioni
                                                  in laboratorio</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/analisiTerminate.jsp" class="testoTabellelungheVerdeON">Referti
                                                  da emettere</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFE193"><span class="testoTabellelungheVerde"><strong>Referti
                                                  emessi</strong></span> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      <a href="javascript:pop2('anagraficaUtentePOP.htm');"><br>
                                      </a><a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <a href="homeFrontOffice.htm"><br>
                                      </a> <a href="../view/menuTabelle.jsp"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="dati di sistema" width="124" height="29" border="0"></a><br>
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a> -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"><br>
                                      <br>
                                      </a> </div>



                                  </td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA">
                                    <h1>Referti emessi<br>
                                    </h1>
                                    <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr valign="top">
                                        <td width="30%" class="pul"><div align="center"><a href="#" class="pul_pag" onclick="javascript:controllaCheckBox(ricercaCampioni,null,'../report/anagraficaCampione',true,false);">Scheda di accompagnamento</a></div></td>
                                        <td width="25%" class="pul"><div align="center"><a href="#" class="pul_pag" onclick="javascript:controllaCheckBox(ricercaCampioni,null,'../report/risultatoAnalisi',true,true);">Rapporto di prova</a></div></td>
<!--                                         <td width="25%" class="pul"><div align="center"><a href="#" class="pul_pag" onclick="javascript:if (typeof ricercaCampioni!='undefined') controllaCheckBox(ricercaCampioni,'multiplo','../controller/modificaDatiFattura.jsp',false);" style="cursor:hand">Modifica dati fattura</a></div></td> -->
<!--                                         <td width="20%" class="pul"><div align="center"><a href="#" class="pul_pag" onclick="javascript:if (typeof ricercaCampioni!='undefined') controllaCheckBox(ricercaCampioni,'multiplo','../controller/fattura.jsp',false);" style="cursor:hand">Emetti fattura</a></div></td> -->
                                      </tr>
                                    </table>
                                    <br> <table width="98%" border="0" align="center">
                                      <tr>
                                        <td width="27%"><p>In quest'area sono gestiti i campioni che si
                                                           trovano nello stato "Referto da emettere".
                                                           Impostare il numero di richiesta oppure il
                                                           materiale/matrice,il numero campione e l'anno.</p></td>
                                      </tr>
                                    </table>
                                    <br> <br> <table width="98%" border="0" align="center">
                                    <form name="ricerca" method="post" action="../controller/refertiEmessiPOP.jsp?breve=si">
                                      <tr>
                                        <td  width="34%">Tipo di materiale/matrice</td>
                                        <td width="66%" colspan="2">
                                         <select name="tipoMateriale" class="testoCampi">
                                            <option value="">----------------------</option>
                                              @@tipoMateriale
                                                <option value="$$codiceMateriale" $$selected>$$descrizione</option>
                                              @@tipoMateriale
                                          </select>  </td>
                                      </tr>
                                      <tr>
                                        <td  width="34%">Numero campione / Anno</td>
                                        <td colspan="2"> <input name="numeroCampioneDa" type="text" class="testoCampi" size="6" maxlength="6">
                                          /
                                          <input name="annoCampione" type="text" class="testoCampi" size="4" maxlength="4">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td  width="34%">Numero della richiesta</td>
                                        <td colspan="2"> <input name="idRichiestaDa" type="text" class="testoCampi" size="9" maxlength="9">
                                        </td>
                                      </tr>
                                      </form>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><div align="center"><a href="javascript: if (!ricercaElenco(ricerca))  pop('../view/refertiEmessiPOP.jsp',700,500);"><img src="../layout/im/b_ricerca.gif" alt="ricerca" width="150" height="16" border="0"></a></div></td>
                                      </tr>
                                    </table>
                                    <br> <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                    </table>
                                    <br>
                                    @@elencoCampioniNo
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td width="27%" align="center"><h2>Non &egrave; stato trovato nessun campione</h2></td>
                                      </tr>
                                    </table>
                                    @@elencoCampioniNo
                                    @@elencoCampioni
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                          <td align="left" class="paginazione">Numero record
                                           trovati: $$num</td>
                                          <td align="right" class="paginazione">$$pagine&nbsp;</td>
                                       </tr>
                                    </table>
                                    <br> <table width="98%" border="0" align="center" cellpadding="1" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                      <tr>
                                        <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="4" bgcolor="#FFFFFF" >
                                            <tr >
                                              <td width="4%" bgcolor="#F2F1EA"><b></b></td>
                                              <td width="10%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe" ><b>N.
                                                richiesta</b></td>
                                              <td width="13%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe" ><b>Materiale<br>
                                                /Matrice</b></td>
                                              <td width="13%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe" >
                                                <b>N.Camp./</b> <b>Anno</b></td>
                                              <td width="18%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe" ><b>Descrizione
                                                etichetta</b></td>
                                              <td width="14%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe" ><b>Proprietario</b></td>
                                              <td width="14%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe" ><b>Richiedente</b></td>
                                              <td width="14%" valign="top" bgcolor="#F2F1EA" class="testoTabellelunghe" ><b>Note</b></td>
                                            </tr>
                                            <tr>
                                              <td colspan="11" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                            <form name="ricercaCampioni" method="post" action="../view/refertiEmessi.jsp">
                                            <input type="hidden" name="idRichiestaSearch" value="-1">
                                            <input type="hidden" name="funzione" size="6" value=""/>
                                            @@elencoCampioneBody
                                            <tr valign="center">
                                              <input type="hidden" name="codMateriali$$idRichiesta" value="$$codiceMateriale">
                                              <td> <input type="checkbox" name="checkbox$$idCheck" value="$$idRichiesta" $$checked></td>
                                              <td class="testoTabellelunghe">$$idRichiesta</td>
                                              <td class="testoTabellelunghe" >$$descMateriale</td>
                                              <td class="testoTabellelunghe" >$$numeroAnno</td>
                                              <td class="testoTabellelunghe" >$$descrizioneEtichetta</td>
                                              <td class="testoTabellelunghe" >$$proprietario</td>
                                              <td class="testoTabellelunghe" >$$richiedente</td>
                                              <td class="testoTabellelunghe">$$note</td>
                                            </tr>
                                            @@elencoCampioneBody
                                            </form>
                                          </table></td>
                                      </tr>
                                      </tr>
                                    </table>
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td>La selezione multipla può essere effettuata, solo per
                                            campioni con uguali estremi di fatturazione
                                            (intestatario della fattura), scegliendo la funzione
                                            "Emetti fattura".</td>
                                       </table>
                                    <br> <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                       <tr>
                                        @@indietro
                                          <form name="Lista1" method="post" action="../view/refertiEmessi.jsp">
                                            <input type="hidden" name="attuale" value="$$attuale">
                                            <td width="20%" class="pulsante"><a href="javascript:Lista1.submit();" class="pulsante">Pagina
                                              indietro</a></td>
                                          </form>
                                        @@indietro
                                        @@nonIndietro
                                              <td width="20%" class="pulsante">&nbsp;$$nonIndietro</td>
                                        @@nonIndietro
                                        <td width="20%"> <div align="center"><a href="javascript:selezionaCheckBox(ricercaCampioni);" class="pulsante">Seleziona
                                            tutti</a></div></td>
                                            
                                        <td width="20%"> <div align="center"><a href="javascript:deSelezionaCheckBox(ricercaCampioni);" class="pulsante">Deseleziona
                                            tutti</a></div></td>
                                        <td width="20%"><div align="center"><a href="javascript:submitFormFunzione(document.ricercaCampioni, 'excel');" class="pulsante">esporta analisi</a></div></td>                                            
                                        @@avanti
                                          <form name="Lista2" method="post" action="../view/refertiEmessi.jsp">
                                            <input type="hidden" name="attuale" value="$$attuale">
                                            <td width="20%"><div align="right"><a href="javascript:Lista2.submit();" class="pulsante">Pagina
                                            avanti</a></div></td>
                                          </form>
                                        @@avanti
                                        @@nonAvanti
                                              <td width="20%" class="pulsante">&nbsp;$$nonAvanti</td>
                                        @@nonAvanti
                                      </tr>
                                    </table>
                                    @@elencoCampioni
                                    <p>&nbsp;</p></td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>

                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span> <map name="Map">
  <area shape="rect" coords="70,1,151,43" href="granulometriaMetodoAutomatico.htm" alt="granulometria metodo automatico">
  <area shape="rect" coords="114,51,193,96" href="granulometriaMetodoBojoucos.htm" alt="granulometria metodo Bojoucus">
  <area shape="rect" coords="155,2,226,42" href="reazioneSuolo.htm" alt="reazione del suolo">
  <area shape="rect" coords="197,50,262,96" href="calcimetria.htm" alt="calcimetria">
  <area shape="rect" coords="231,1,309,42" href="sostanzaOrganica.htm" alt="sostanza organica">
  <area shape="rect" coords="271,50,348,95" href="azoto.htm" alt="azoto metodo">
  <area shape="rect" coords="315,5,395,43" href="complessoScambio.htm" alt="complesso di scambio">
  <area shape="rect" coords="350,51,427,97" href="fosforoOLSEN.htm" alt="fosforo OLSEN">
  <area shape="rect" coords="400,3,507,42" href="microelementi.htm" alt="micorelementi">
  <area shape="rect" coords="430,51,516,92" href="conducibilitaSalinita.htm" alt="conducibilit&agrave; e salinit&agrave;">
  <area shape="rect" coords="29,53,109,89" href="umidita.htm" alt="umidit&agrave; del campione">
</map>
</body>
</html>
