<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>

<body onload="window.focus();" onunload="window.opener.focus()">
<form name="form2" method="post" action="">
  <table width="100%" border="0" class="boxborder">
    <tr> 
      <td width="100%"> <h2>Sistema di allevamento </h2>
        <table width="100%" border="0" align="center">
          <tr> 
            <td width="24%"><b>Classe coltura</b></td>
            <td width="76%">VITICOLE </td>
          </tr>
          <tr> 
            <td><b>Tipo coltura</b></td>
            <td> Arborea</td>
          </tr>
          <tr> 
            <td><b>Specie coltura</b></td>
            <td>VITE </td>
          </tr>
        </table>
        <p>&nbsp;</p><div align="center"> 
          <table width="100%" border="0">
            <tr> 
              <td  colspan="3" rowspan="4">Descrizione 
                sistema di allevamento</td>
              <td width="70%" colspan="3" rowspan="4"> 
                <input type="text" name="textfield3" size="40" maxlength="40">
              </td>
            </tr>
            <tr> </tr>
            <tr> </tr>
            <tr> </tr>
          </table>
          <br>
          <table width="100%" border="0" cellspacing="5" cellpadding="0">
            <tr> 
              <td><div align="right"><a href="javascript:window.close();"><img src="../layout/im/b_conferma.gif" alt="conferma" width="150" height="16" border="0"></a></div></td>
              <td><a href="javascript:window.close();"><img src="../layout/im/b_annulla.gif" alt="annulla" width="150" height="16" border="0"></a></td>
            </tr>
          </table>
          </div>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
