<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>

<body onload="window.focus();" onunload="window.opener.focus()">
<form name="form2" method="post" action="">
  <table width="100%" border="0" class="boxborder">
    <tr> 
      <td width="100%"> <h2>Stadio fenologico </h2>
        <div align="center"> 
          <table width="100%" border="0">
            <tr> 
              <td width="26%">Materiale/Matrice</td>
              <td width="74%"> 
                <select name="select" class="testoCampi">
                  <option>Terreni</option>
                  <option>Vegetali - Foglie (Fruttiferi e Vite)</option>
                  <option>Vegetali - Frutta</option>
                  <option>Vegetali - Foglie (Erbacee)</option>
                </select>
              </td>
            </tr>
            <tr> 
              <td>Descrizione stadio fenologico 
                </td>
              <td> 
                <input name="textfield" type="text" class="testoCampi" size="40" maxlength="40">
              </td>
            </tr>
          </table>
          <br>
          <table width="98%" border="0" cellspacing="5" cellpadding="0">
            <tr> 
              <td><div align="right"><a href="javascript:window.close();"><img src="../layout/im/b_conferma.gif" alt="conferma" width="150" height="16" border="0"></a></div></td>
              <td><a href="javascript:window.close();"><img src="../layout/im/b_annulla.gif" alt="annulla" width="150" height="16" border="0"></a></td>
            </tr>
          </table>
         <br>
          </div>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
