<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script language="JavaScript">
<!--
function pop(str) {
        searchWin = window.open(str,'comune','scrollbars=yes,resizable=yes,width=600,height=530,status=no,location=no,toolbar=no');
}
function pop2(str) {
        searchWin = window.open(str,'anagrafica','scrollbars=yes,resizable=yes,width=700,height=500,status=no,location=no,toolbar=no');
}

//-->
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top">
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif">
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td> <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <a href="../view/menuCampioni.jsp"><img src="../layout/im/tit_sx_campioni_off.gif" alt="campioni" width="124" height="29" border="0"></a>
                                      <br>
                                      <a href="javascript:pop2('anagraficaUtentePOP.htm');">
                                      </a><br>
                                       <a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br>
                                      <a href="javascript:pop2('anagraficaUtentePOP.htm');">
                                      </a><br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/menuTabelle.jsp"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="dati di sistema" width="124" height="29" border="0"></a><a href="javascript:pop2('anagraficaUtentePOP.htm');"><br>
                                      <br>
                                      </a>
                                      <table width="124" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr>
                                          <td><table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#DE8636">
                                              <tr>
                                                <td background="../layout/im/utilita.gif">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFE193"><span class="testoTabellelungheVerdeON"><strong>Stampa
                                                  Log</strong></span> </td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><strong><a href="../view/gestioneFatture.jsp" class="testoTabellelungheVerdeON">Gestione
                                                  fatture emesse</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><strong><a href="../view/stampaFatture.jsp" class="testoTabellelungheVerdeON">Elenco
                                                  fatture</a> </strong></td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFFF"><strong><a class="testoTabellelungheVerdeON" href="../controller/fatturaInBianco.jsp">Emissione fattura in bianco</a></strong></td>
                                              </tr>                                            
                                              <tr>
                                                <td bgcolor="#FFFFFF"><a href="../view/elencoCampioni.jsp" class="testoTabellelungheVerdeON"><strong>Elenco
                                                  campioni</strong></a> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"><br>
                                      <br>
                                      </a> </div></td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA">
                                    <h1> Stampa LOG accessi al sistema </h1>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><div align="center"><strong>Parametri
                                            di ricerca</strong></div></td>
                                      </tr>
                                    </table>
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td width="25%">Periodo dal / al</td>
                                        <td width="43%"> <input name="textfield32" type="text" class="testoCampi" size="2" maxlength="2">
                                          /
                                          <input name="textfield42" type="text" class="testoCampi" size="2" maxlength="2">
                                          /
                                          <input name="textfield52" type="text" class="testoCampi" size="4" maxlength="4">
                                        </td>
                                        <td width="32%"> <input name="textfield33" type="text" class="testoCampi" size="2" maxlength="2">
                                          /
                                          <input name="textfield43" type="text" class="testoCampi" size="2" maxlength="2">
                                          /
                                          <input name="textfield53" type="text" class="testoCampi" size="4" maxlength="4">
                                        </td>
                                      </tr>
                                    </table>
                                    <h1>&nbsp; </h1>
                                    <table width="98%" border="0" cellspacing="5" cellpadding="0">
                                      <tr>
                                        <td><div align="right"><a href="dwd/LogDettaglio.pdf" target="_blank"><img src="../layout/im/b_st_dettaglio.gif" alt="stampa dettaglio giornaliero" width="196" height="16" border="0"></a></div></td>
                                        <td><a href="dwd/LogStatistico.pdf" target="_blank"><img src="../layout/im/b_riepilogo.gif" alt="riepilogo statistico" width="196" height="16" border="0"></a></td>
                                      </tr>
                                    </table>
                                    <h1>&nbsp; </h1>
                                    </td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>

                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
