<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>

<body onload="window.focus();" onunload="window.opener.focus()">
<form name="form2" method="post" action="">
  <table width="500" border="0" class="boxborder">
    <tr> 
      <td width="100%"> <h2>Sistema di allevamento </h2>
        <table width="90%" border="0" align="center">
          <tr> 
            <td width="31%"><b>Materiale / Matrice</b></td>
            <td width="69%">Terreni</td>
          </tr>
          <tr> 
            <td><b>Tipo di analisi</b></td>
            <td>pH </td>
          </tr>
        </table>
        <p>&nbsp;</p>
        <p>Gli importi devono essere comprensivi di IVA e arrotondati al decimo 
          di Euro</p>
        <div align="center"> 
          <table width="90%" border="0" align="center" cellspacing="4">
            <tr> 
              <td  colspan="3" rowspan="3"><b>Prezzo 
                intero </b></td>
              <td width="54%" colspan="3" rowspan="3"> 
                <input type="text" name="textfield3" size="6" maxlength="6">
              </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr> 
              <td  colspan="3"><b>Fascia 
                ridotta 1</b></td>
              <td colspan="3"> 
                <input type="text" name="textfield" size="6" maxlength="6">
              </td>
            </tr>
            <tr> 
              <td  colspan="3"><b>Fascia 
                ridotta 2</b></td>
              <td colspan="3"> 
                <input type="text" name="textfield2" size="6" maxlength="6">
              </td>
            </tr>
            <tr> 
              <td  colspan="3"><b>Fascia 
                ridotta 3</b></td>
              <td colspan="3"> 
                <input type="text" name="textfield4" size="6" maxlength="6">
              </td>
            </tr>
          </table>
          <br>
          <table width="98%" border="0" cellspacing="5" cellpadding="0">
            <tr> 
              <td><div align="right"><a href="javascript:window.close();"><img src="../layout/im/b_conferma.gif" alt="conferma" width="150" height="16" border="0"></a></div></td>
              <td><a href="javascript:window.close();"><img src="../layout/im/b_annulla.gif" alt="annulla" width="150" height="16" border="0"></a></td>
            </tr>
          </table>
          <br>
          </div>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
