<html>
<head>
<title>Servizio AGRICHIM</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<script src="../layout/js/gestione.js"></script>
<script src="../layout/js/testLength.js"></script>
<script src="../layout/js/isNumber.js"></script>
<script src="../layout/js/isFloat.js"></script>
<script src="../layout/js/dotCheck.js"></script>
<script src="../layout/js/terrenoDati.js"></script>
<script>
  function caricaPagina()
  {
    terrenoDati.action="../view/terrenoDati.jsp";
    terrenoDati.submit();
  }
</script>
<link href="../layout/css/format.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CCCCCC" onload="controllaRadioCombo(document.terrenoDati.giacitura,document.terrenoDati.idEsposizione);controllaRadioText(document.terrenoDati.scheletro,document.terrenoDati.percentualePietre);controllaRadioText(document.terrenoDati.nuovoImpianto,document.terrenoDati.annoImpianto,1);">
<table summary="Questa tabella serve per formattare la pagina"  width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr align="center" valign="middle">
    <td>
      <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td>
            <table summary="Questa tabella serve per formattare la pagina" width="720" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="../layout/im/ban_sup.gif" width="638" height="40" alt="RuparPiemonte"></td>
              </tr>

              <tr valign="top" align="right">
                <td width="640">
                  <table width="719" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1" height="2"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td width="2" height="2" bgcolor="#319E84"><img src="../layout/im/tra_pix.gif" width="2" height="2"></td>
                      <td width="135" height="2" bgcolor="#319E84">
                        <div align="right"><img src="../layout/im/agricoltura.gif" alt="agricoltura" width="89" height="14">
                        </div>
                      </td>
                      <td width="585" height="2" background="../layout/im/pix_verde_nuovo.gif">&nbsp;&nbsp;
                        <img src="../layout/im/agrichim_nuovo.gif" alt="servizio agrichim" width="164" height="13" align="top">
                      </td>
                      <td height="1" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif" height="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td background="../layout/im/pix-gri-ban.gif" width="1"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                      <td bgcolor="#319E84" width="2"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="1">
                          <tr background="../layout/im/pix-gri-ban.gif">
                            <td background="../layout/im/pix-gri-ban.gif">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="134" valign="top" background="../layout/im/pix_verde_nuovo.gif">
                                    <div align="center"> <br>
                                      <br>
                                      <table width="124" height="50" border="0" align="center" cellpadding="0" cellspacing="5" background="../layout/im/sfondo_tab1.gif">
                                        <tr>
                                          <td>
                                            <p class="testoUtente"><strong>Utente:<br>
                                              ##nomeUtente</strong></p></td>
                                        </tr>
                                      </table>
                                      <br>
                                      <a href="../controller/nuovaAnalisi.jsp" target="_nuova_"><img src="../layout/im/tit_sx_nuovaAnalisi_off.gif" alt="prenotazione nuova analisi" width="124" height="29" border="0"></a><br>
                                      <br>
                                      <table width="124" height="142" border="0" cellpadding="2" cellspacing="0" background="../layout/im/pix_verde_nuovo.gif">
                                        <tr>
                                          <td><table width="100%" height="169" border="0" cellpadding="4" cellspacing="1" background="../layout/im/tit_sx_campioni_on3.gif">
                                              <tr>
                                                <td>&nbsp;</td>
                                              </tr>
                                              <tr bgcolor="#FFFFFF">
                                                <td bgcolor="#FFFFFF"><strong><span class="testoTabellelungheVerde"><a href="../controller/ricercaCampioni.jsp" class="testoTabellelungheVerdeON">Ricerca
                                                  campione</a></span></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFE193" class="testoTabellelungheVerdeON"><strong><a href="../controller/analisiRichieste.jsp" class="testoTabellelungheVerdeON">Analisi
                                                  richieste</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/campioniLaboratorio.jsp" class="testoTabellelungheVerdeON">Campioni
                                                  in laboratorio</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF" class="testoTabellelungheVerde"><strong><a href="../controller/analisiTerminate.jsp" class="testoTabellelungheVerdeON">Referti
                                                  da emettere</a></strong></td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF"><span class="testoTabellelungheVerde"><strong><a href="../controller/refertiEmessi.jsp" class="testoTabellelungheVerdeON">Referti
                                                  emessi</a></strong></span> </td>
                                              </tr>
                                            </table></td>
                                        </tr>
                                      </table>
                                      </a><br>
                                      <a href="../view/menuAnagrafiche.jsp"><img src="../layout/im/tit_sx_anagrafiche_off.gif" alt="anagrafiche" width="124" height="29" border="0"></a><br><br>
                                      <a href="../view/ricercaPreventivi.jsp"><img src="../layout/im/tit_sx_gestionePreventivi_off.gif" alt="gestione preventivi" width="124" height="29" border="0"></a><br><br>
                                      <br>
                                      <a href="../view/menuTabelle.jsp"><img src="../layout/im/tit_sx_datisistema_off.gif" alt="dati di sistema" width="124" height="29" border="0"></a><br>
<!--                                       <br> -->
<!--                                       <a href="../view/utility.jsp"><img src="../layout/im/tit_sx_utilita_off.gif" alt="utilit&agrave;" width="124" height="29" border="0"></a> -->
                                      <br>
                                      <br>
                                      <a href="../controller/logout.jsp"><img src="../layout/im/tit_sx_logoutN_off.gif" alt="logout" width="124" height="29" border="0"></a>
                                    </div>



                                  </td>
                                  <td width="577" height="450" valign="top" bgcolor="#F2F1EA">
                                    <h1>Campioni - analisi richieste</h1>
                                    <h2> Modifica dati del campione </h2>
                                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                                      <tr align="center" valign="top">
                                        <td width="20%" class="pul"><a href="#" onClick="pop('../report/anagraficaCampione##codiceMateriale.pdf?idRichiesta=##idRichiesta',647,480,'pdf');" class="pul_pag">Scheda di accompagnamento</a></td>
                                        <td width="18%" class="pulselect">Modifica dati del campione</td>
                                        <td width="15%" class="pul"><a href="../view/annullaRichiesta.jsp" class="pul_pag">Annulla richiesta</a></td>
                                        <td width="15%" class="pul"><a href="../view/accettazioneScarto.jsp" class="pul_pag">Accettazione Scarto</a></td>
                                        <td width="15%" class="pul"><a class="pul_pag" href="#" onclick="controlli(aggiorna,'scarica','/jsp/controller/verificaPagamento.jsp')">Verifica il Pagamento</a></td>
                                        <td width="20%" class="pul"><a class="pul_pag" href="#" onclick="controlli(null,'scarica','');" style="cursor:hand">Scarica la ricevuta</a></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                      <td width="144" align="bottom">&nbsp;</td>
                                      <td width="159" align="bottom"><a class="inseriti" @@SiGis href="../view/coordinatePrelievo.jsp" alt="coordinate prelievo" @@SiGis @@NoGis href="javascript:alert('Questo tipo di materiale non richiede l\'inserimento delle cordinate del prelievo');"@@NoGis>coordinate<br>prelievo</a></td>
                                      <td width="163" align="bottom"><a class="fuoco">caratteristiche<br>campione</a></td>
                                      </tr>
                                    </table>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><div align="center"><img src="../layout/im/tit_carat_on.gif" alt="modifica dati del campione - menu di navigazione" width="466" height="22" border="0"></div></td>
                                      </tr>
                                    </table>
                                    <table width="466" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                      <td width="65" align="top">&nbsp;</td>
                                      <td width="159" align="top"><a class="inseriti" href="../view/identificazioneCampione.jsp">identificativi<br>campione</a></td>
                                      <td width="166" align="top"><a class="inseriti " href="../view/datiAnagrafiche.jsp">utente e<br>proprietario</a></td><!-- ##disab -->
                                      <td width="76" align="top"><a class="disabilitato" href="">analisi<br>richiesta</a></td><!-- ../controller/analisi.jsp -->
                                      </tr>
                                    </table>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                                    @@errore
                                    <tr>
                                      <td class="testoERRORE">I dati contrassegnati da &nbsp;<img src="../layout/im/ko.gif">&nbsp;
                                      non sono stati inseriti correttamente
                                        <br>
                                        <br>
                                      </td>
                                    </tr>
                                    @@errore
                                    @@modifica
                                    <tr>
                                      <td class="testoOK">Modifica effettuata correttamente
                                        <br>
                                        <br>
                                      </td>
                                    </tr>
                                      @@modifica
                                      <tr>
                                        <td>In questa form vengono visualizzate
                                          le informazioni relative alle caratteristiche
                                          del campione.</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <form name="terrenoDati" method="post" action="../controller/terrenoDati.jsp">
                                    <input id="stato_pagamento" value="##statoPagamento" type="hidden">
                                    <table width="98%" border="0" align="center">
                                      <tr>
                                        <td colspan="2"> <div align="center"><strong>Informazioni
                                            sulla zona del prelievo e caratteristiche
                                            del campione </strong> </div></td>
                                      </tr>
                                      <tr>
                                        <td width="34%">Profondit&agrave; prelievo
                                          (*)</td>
                                        <td width="66%" colspan="-1">
                                          <select name="idProfondita" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idProfondita
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idProfondita
                                          </select> ##errore1</td>
                                      </tr>
                                      <tr>
                                        <td height="20" colspan="2" > <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" > <div align="center"><strong>Coltura
                                            in atto o precedente</strong>: selezionare
                                            la classe e poi la specie</div></td>
                                      </tr>
                                      <tr>
                                        <td>Classe coltura (*)</td>
                                        <td colspan="-1">
                                         <select name="idColturaAttuale" class="testoCampi" onChange="caricaPagina();">
                                            <option value="-1">--------</option>
                                                    @@idColturaAttuale
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@idColturaAttuale
                                          </select> </td>
                                      </tr>
                                      <tr>
                                        <td>Specie coltura (*)</td>
                                        <td colspan="-1">
                                         <select name="specieAttuale" class="testoCampi">
                                            <option value="-1">--------</option>
                                                    @@specieAttuale
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@specieAttuale
                                          </select> </td>
                                      </tr>
                                      <tr>
                                        <td height="20" colspan="2" >
                                          <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                              <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" >
                                          <div align="center"><strong>Nuovo tipo
                                            di coltura prevista</strong>: selezionare
                                            la classe e poi la specie</div></td>
                                      </tr>
                                      <tr>
                                        <td  bordercolor="#844F00">Classe coltura
                                          (*)</td>
                                        <td colspan="-1" bordercolor="#844F00">
                                          <select name="idColturaPrevista" class="testoCampi" onChange="caricaPagina();">
                                            <option value="-1">--------</option>
                                                    @@idColturaPrevista
                                                      <option value="$$codice" $$selected>$$descrizione</option>
                                                    @@idColturaPrevista
                                          </select> ##errore2</td>
                                      </tr>
                                      <tr>
                                        <td>Specie coltura (*)</td>
                                        <td colspan="-1">
                                          <!-- <select name="speciePrevista" class="testoCampi" onChange="caricaPagina();"> -->
                                          <select name="speciePrevista" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@speciePrevista
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@speciePrevista
                                          </select> ##errore3</td>
                                      </tr>
                                      <!--
                                      <tr>
                                        <td>Variet&agrave; specie prevista</td>
                                        <td colspan="-1">
                                          <select name="idVarieta" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idVarieta
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idVarieta
                                          </select> </td>
                                      </tr>
                                      <tr>
                                        <td>Porta innesto</td>
                                        <td colspan="-1">
                                          <select name="idInnesto" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idInnesto
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idInnesto
                                          </select> </td>
                                      </tr>
                                      <tr>
                                        <td>Sistema allevamento</td>
                                        <td colspan="-1">
                                          <select name="idSistemaAllevamento" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idSistemaAllevamento
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idSistemaAllevamento
                                          </select> </td>
                                      </tr>
                                      -->
                                      <tr>
                                        <td colspan="2" >&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" ><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                     <tr>
                                        <td colspan="6" background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                                      </tr>
                                    </table>
                                    </td>
                                      </tr>
                                      <tr>
                                        <td>Nuovo impianto (*)</td>
                                        <td colspan="-1"> <input type="radio" name="nuovoImpianto" ##disabledNuovoImpianto value="S" ##checkedSi onClick="disabilitaText(document.terrenoDati.annoImpianto);">
                                          Si
                                          <input type="radio" name="nuovoImpianto" ##disabledNuovoImpianto value="N" ##checkedNo onClick="abilitaText(document.terrenoDati.annoImpianto);">
                                          No </td>
                                      </tr>
                                      <tr>
                                        <td>Anno dell'impianto</td>
                                        <td colspan="-1"> <input name="annoImpianto" type="text" class="testoCampi" size="4" maxlength="4" value="##annoImpianto">
                                        ##errore4
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Superficie appezzamento</td>
                                        <td colspan="-1">
                                          <select name="superficieAppezzamento" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@superficieAppezzamento
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@superficieAppezzamento
                                          </select> ##errore5</td>
                                      </tr>
                                      <tr>
                                        <td>Produzione stimata (q/ha)</td>
                                        <td colspan="-1"> <input name="produzioneQha" type="text" class="testoCampi" size="6" maxlength="6" value="##produzioneQha" onBlur="value=dotCheck(value)">
                                        ##errore6
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Giacitura<span class="testoTabellelunghe">
                                          (*) </span></td>
                                        <td colspan="-1"> <input type="radio" name="giacitura" value="P" ##checkedPiano onClick="disabilitaCombo(document.terrenoDati.idEsposizione);">
                                          Piano
                                          <input type="radio" name="giacitura" value="A" ##checkedAcclive onClick="abilitaCombo(document.terrenoDati.idEsposizione);">
                                          Acclive </td>
                                      </tr>
                                      <tr>
                                        <td>Direzione di esposizione del terreno
                                          rispetto al sole <span class="testoTabellelunghe">(
                                          nel caso di Acclive) </span> </td>
                                        <td colspan="-1">
                                          <select name="idEsposizione" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idEsposizione
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idEsposizione
                                          </select> ##errore7</td>
                                      </tr>
                                      <tr>
                                        <td>Presenza di pietre o ghiaie <span class="testoTabellelunghe">(*)</span></td>
                                        <td colspan="-1"> <input type="radio" name="scheletro" value="S" ##checkedPietre onClick="abilitaText(document.terrenoDati.percentualePietre);">
                                          Si
                                          <input type="radio" name="scheletro" value="N" ##checkedGhiaie onClick="disabilitaText(document.terrenoDati.percentualePietre);">
                                          No </td>
                                      </tr>
                                      <tr>
                                        <td>Percentuale presenza pietre</td>
                                        <td colspan="-1"> <input name="percentualePietre" type="text" class="testoCampi" size="3" maxlength="3" value="##percentualePietre">
                                        ##errore8
                                        </td>
                                      <tr>
                                        <td>Interramento stoppie <span class="testoTabellelunghe">(*)</span></td>
                                        <td colspan="-1"> <input type="radio" name="stoppie" value="S" ##checkedStoppieSi>
                                          Si
                                          <input type="radio" name="stoppie" value="N" ##checkedStoppieNo>
                                          No </td>
                                      </tr>
                                      <tr>
                                        <td>Concimazione organica <span class="testoTabellelunghe">(*)</span></td>
                                        <td colspan="-1">
                                          <select name="tipoConcimazione" class="testoCampi" onChange="caricaPagina();">
                                            <option value="-1">--------</option>
                                              @@tipoConcimazione
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@tipoConcimazione
                                          </select> ##errore9</td>
                                      </tr>
                                      <tr>
                                        <td>Concime utilizzato<span class="testoTabellelunghe"><br>
                                          (* se concimazione abituale o saltuaria)</span></td>
                                        <td colspan="-1">
                                          <select name="idConcime" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idConcime
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idConcime
                                          </select> ##errore10</td>
                                      </tr>
                                      <tr>
                                        <td>Stato del terreno</td>
                                        <td colspan="-1">
                                          <select name="idLavorazioneTerreno" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idLavorazioneTerreno
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idLavorazioneTerreno
                                          </select>  </td>
                                      </tr>
                                      <tr>
                                        <td height="18">Tipo di irrigazione effettuata</td>
                                        <td height="18" colspan="-1">
                                          <select name="idIrrigazione" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@idIrrigazione
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@idIrrigazione
                                          </select></td>
                                      </tr>
                                      <tr>
                                        <td height="18">Modalit&agrave; di coltivazione <span class="testoTabellelunghe">(*)</span></td>
                                        <td height="18" colspan="-1">
                                          <select name="codiceModalitaColtivazione" class="testoCampi">
                                            <option value="-1">--------</option>
                                              @@codiceModalitaColtivazione
                                                <option value="$$codice" $$selected>$$descrizione</option>
                                              @@codiceModalitaColtivazione
                                          </select> ##errore11</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" height="18">I dati contrassegnati
                                          con (*) sono obbligatori</td>
                                      </tr>
                                    </table>
                                    </form>
                                    <br>
                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><div align="center"><a href="javascript:if (salva(terrenoDati)) terrenoDati.submit();"><img src="../layout/im/b_conferma.gif" width="150" height="16" border="0"></a></div></td>
                                      </tr>
                                    </table> <br></td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                        </table>
                      </td>
                      <td background="../layout/im/pix_verde_nuovo.gif"><img src="../layout/im/tra_pix.gif" width="2" height="1"></td>
                      <td background="../layout/im/pix-gri-ban.gif"><img src="../layout/im/tra_pix.gif" width="1" height="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#333333">
          <td><img src="../layout/im/banner_inf.jpg" width="618" height="14" border="0" alt="www.ruparpiemonte.it"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<span class="testoneroCopia"></span><span class="testonero"></span>
</body>
</html>
