<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <distributable/>

  <context-param>
    <param-name>datasource.jndiname</param-name>
    <param-value>@@datasource.jndiname@@</param-value>
  </context-param>
  <context-param>
    <param-name>emailErroreDest</param-name>
    <param-value>@@emailErroreDest@@</param-value>
  </context-param>
  <context-param>
    <param-name>emailErroreMitt</param-name>
    <param-value>@@emailErroreMitt@@</param-value>
  </context-param>
  <context-param>
    <param-name>emailMittenteAgrichim</param-name>
    <param-value>@@emailMittenteAgrichim@@</param-value>
  </context-param>
  <context-param>
    <param-name>hostServerPosta</param-name>
    <param-value>@@hostServerPosta@@</param-value>
  </context-param>
  <context-param>
    <param-name>maxRecordXPagina</param-name>
    <param-value>@@maxRecordXPagina@@</param-value>
  </context-param>
  <context-param>
    <param-name>maxRecordXPaginaCampLaboratorio</param-name>
    <param-value>@@maxRecordXPaginaCampLaboratorio@@</param-value>
  </context-param>
  <context-param>
    <param-name>nomeServer</param-name>
    <param-value>@@nomeServer@@</param-value>
  </context-param>
  <context-param>
    <param-name>urlNuovaAnalisi</param-name>
    <param-value>@@urlNuovaAnalisi@@</param-value>
  </context-param>
  <context-param>
    <param-name>urlStartApplication</param-name>
    <param-value>@@urlStartApplication@@</param-value>
  </context-param>
  <context-param>
    <param-name>tokenApiManagerEndpoint</param-name>
    <param-value>@@tokenApiManagerEndpoint@@</param-value>
  </context-param>
  <context-param>
    <param-name>tokenApiManagerKey</param-name>
    <param-value>@@tokenApiManagerKey@@</param-value>
  </context-param>
  <context-param>
    <param-name>tokenApiManagerSecret</param-name>
    <param-value>@@tokenApiManagerSecret@@</param-value>
  </context-param>
  <context-param>
    <param-name>tokenApiManagerXAuth</param-name>
    <param-value>@@tokenApiManagerXAuth@@</param-value>
  </context-param>
  <context-param>
    <param-name>sigwgssrvSigwgssrvEndpoint</param-name>
    <param-value>@@sigwgssrvSigwgssrvEndpoint@@</param-value>
  </context-param>
  <context-param>
    <param-name>sigwgssrvSigwgssrvWsdl</param-name>
    <param-value>@@sigwgssrvSigwgssrvWsdl@@</param-value>
  </context-param>
<!-- parametri agripagopa		-->
	<context-param>
    <param-name>agripagopaIsPa</param-name>
    <param-value>@@agripagopaIsPa@@</param-value>
  </context-param>
  <context-param>
    <param-name>agripagopaIsNotPa</param-name>
    <param-value>@@agripagopaIsNotPa@@</param-value>
  </context-param>
  <context-param>
    <param-name>agripagopaIsSpid</param-name>
    <param-value>@@agripagopaIsSpid@@</param-value>
  </context-param>
  <context-param>
    <param-name>agripagopaPageReferral</param-name>
    <param-value>@@agripagopaPageReferral@@</param-value>
  </context-param>
   <context-param>
    <param-name>agripagopaAnnulla</param-name>
    <param-value>@@agripagopaAnnulla@@</param-value>
  </context-param>
  <context-param>
    <param-name>agripagopaWSDL</param-name>
    <param-value>@@agripagopaWSDL@@</param-value>
  </context-param>
  
	<filter>
		<filter-name>Shibboleth filter</filter-name>
		<filter-class>it.csi.shibboleth.shibfilter.ShibbolethFilter</filter-class>
		<!--
			parametri da iniettare in sessione personalizzabile per applicazione
		-->
		<init-param>
			<param-name>IRIDE_ID_SESSIONATTR</param-name>
			<param-value>identita</param-value>
		</init-param>
		<!--
			elenco delle pagine di servizio che non vanno gerizooette dal filtro
		-->
		<init-param>
			<param-name>NO_CHECK_PAGE</param-name>
			<param-value></param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Shibboleth filter</filter-name>
    <!-- url-pattern>/jsp/controller/login.jsp</url-pattern -->
		<url-pattern>/secure/wrup/login.jsp</url-pattern>
	</filter-mapping>  

  <servlet>
    <servlet-name>PdfAnagraficaCampioneERB</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampioneERB</servlet-class>
    <load-on-startup>20</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfAnagraficaCampioneFOGFRU</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampioneFOGFRU</servlet-class>
    <load-on-startup>30</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfAnagraficaCampioneTER</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampioneTER</servlet-class>
    <load-on-startup>40</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfAnagraficaCampioneZMA</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnagraficaCampioneZMA</servlet-class>
    <load-on-startup>45</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfAnalisiRichieste</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfAnalisiRichieste</servlet-class>
    <load-on-startup>50</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfElencoFatture</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfElencoFatture</servlet-class>
    <load-on-startup>61</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfElencoFatturePIoCF</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfElencoFatturePIoCF</servlet-class>
    <load-on-startup>62</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfEsempioFattura</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfEsempioFattura</servlet-class>
    <load-on-startup>60</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfListaCampioni</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfListaCampioni</servlet-class>
    <load-on-startup>70</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfRisultatoAnalisiFOG</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfRisultatoAnalisiFOG</servlet-class>
    <load-on-startup>80</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PdfRisultatoAnalisiFRU</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfRisultatoAnalisiFRU</servlet-class>
    <load-on-startup>81</load-on-startup>
  </servlet>
  <servlet> 
    <servlet-name>PdfAvvisoPagamento</servlet-name> 
    <servlet-class>it.csi.agrc.servlet.PdfAvvisoPagamento</servlet-class> 
    <load-on-startup>85</load-on-startup> 
  </servlet>
  <servlet>
    <servlet-name>PdfRisultatoAnalisiTER</servlet-name>
    <servlet-class>it.csi.agrc.servlet.PdfRisultatoAnalisiTER</servlet-class>
    <load-on-startup>82</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServletCaricaParametri</servlet-name>
    <servlet-class>it.csi.agrc.servlet.ServletCaricaParametri</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfListaCampioni</servlet-name>
    <url-pattern>/jsp/report/PdfListaCampioni.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneERB</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneERB.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneFOGFRU</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneFOG.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneFOGFRU</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneFRU.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneTER</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneTER.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnagraficaCampioneZMA</servlet-name>
    <url-pattern>/jsp/report/anagraficaCampioneZMA.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfAnalisiRichieste</servlet-name>
    <url-pattern>/jsp/report/analisiRichieste.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfElencoFatture</servlet-name>
    <url-pattern>/jsp/report/elencoFatture.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfElencoFatturePIoCF</servlet-name>
    <url-pattern>/jsp/report/elencoFatturePIoCF.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfEsempioFattura</servlet-name>
    <url-pattern>/jsp/report/esempioFattura.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfRisultatoAnalisiFOG</servlet-name>
    <url-pattern>/jsp/report/risultatoAnalisiERB.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfRisultatoAnalisiFOG</servlet-name>
    <url-pattern>/jsp/report/risultatoAnalisiFOG.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfRisultatoAnalisiFRU</servlet-name>
    <url-pattern>/jsp/report/risultatoAnalisiFRU.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfRisultatoAnalisiTER</servlet-name>
    <url-pattern>/jsp/report/risultatoAnalisiTER.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping> 
    <servlet-name>PdfAvvisoPagamento</servlet-name> 
    <url-pattern>/jsp/report/avvisoPagamento.pdf</url-pattern> 
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>ServletCaricaParametri</servlet-name>
    <url-pattern>/servlet/ServletCaricaParametri</url-pattern>
  </servlet-mapping>
  
</web-app>
